 <div class="card-list" *ngIf="visibleMessage" [@shrinkHeight]>

    <div class="card full brackets center" bracketCard #dashboardMessage *ngIf="visibleMessage.body">

        <h4 [innerHTML]="visibleMessage.title"></h4>

        <div [innerHTML]="visibleMessage.body"></div>

        <div class="action right">
            <span class="button" (click)="dismissVisibleMessage()" *ngIf="!visibleMessage.notDismissable">Dismiss</span>
            <button class="button brackets" (click)="visibleMessage.action()" *ngIf="visibleMessage.button">{{visibleMessage.button}}</button>
        </div>
        
    </div>

    <div class="card full brackets center" bracketCard #dashboardMessage *ngIf="visibleMessage.key == 'invite' && !inviteAccepted && !inviteRejected">

        <h4>You have a pending Company Invite</h4>

        <p *ngIf="invite.user.firstName">{{invite.user.firstName + ' ' + invite.user.lastName}} has invited you to join {{invite.team.name}}.</p>

        <p *ngIf="!invite.user.firstName">You have been invited to join {{invite.team.name}}</p>

        <p *ngIf="userService.isExpired()">You will be able to utilize one of {{invite.team.name}}'s subscriptions, which means you'll get full access to the app.</p>

        <div class="action right" *ngIf="!isPosting">
            <span class="button" (click)="rejectInvite()">Reject their offer</span>
            <span class="button brackets" (click)="acceptInvite()">Join {{invite.team.name}}</span>
        </div>

        <div class="action right" *ngIf="isPosting">
            <span class="button"><i class="loading"></i></span>
        </div>

    </div>
    <div class="card full brackets center" bracketCard #dashboardMessage *ngIf="visibleMessage.key == 'invite' && inviteAccepted">
        <h4>Welcome to {{invite.team.name}}!</h4>
        <p>You are now part of the Company. You now have access to any of the Company's resources, and you can collaborate with other members of your Company. View details about the Company using the app menu (the <iplus></iplus> logo up in the corner).</p>
        <div class="action right">
            <span class="button" (click)="dismissInvite()">Dismiss</span>
        </div>
    </div>
    <div class="card full brackets center" bracketCard #dashboardMessage *ngIf="visibleMessage.key == 'invite' && inviteRejected">
        <h4>So long, {{invite.team.name}}!</h4>
        <p>The Company will be notified that you have turned down their offer, and you won't be bothered by them anymore (unless they try to invite you again).</p>
        <div class="action right">
            <span class="button" (click)="dismissInvite()">Dismiss</span>
        </div>
    </div>
 
    <div class="card full brackets center" bracketCard #dashboardMessage *ngIf="visibleMessage.key == 'welcome'">

        <h4>welcome to <span class="light">improv</span><strong>plus</strong></h4>

        <p>This is your dashboard. Check back here for important messages, updates, and other stuff.</p>
        <p>Click the <iplus></iplus> logo in the top left corner to open the App Menu. From there you can get anywhere you want to be.</p>

        <div class="action right">
            <span class="button" (click)="dismissVisibleMessage()">Dismiss</span>
        </div>
        
    </div>
 
    <div class="card full brackets center" bracketCard #dashboardMessage *ngIf="visibleMessage.key == 'username'">

        <div class="content">
            <p>While we have you here, what can we call you?</p>

            <div class="columns responsive">
                <input name="first-name"
                    placeholder="First Name"
                    [(ngModel)]="firstName"
                    formInput
                    type="text" />
                <input name="last-name"
                    placeholder="Last Name"
                    [(ngModel)]="lastName"
                    formInput
                    type="text" />
            </div>

            <div class="action right">
                <span class="button pull-left" (click)="router.navigate(['/app/user'])">Edit your profile</span>
                <span class="button" (click)="dismissVisibleMessage()">Dismiss</span>

                <button class="button brackets" (click)="saveUserName()" [disabled]='!firstName || !lastName' *ngIf="!isPosting">Save</button>
                <span class="button" *ngIf="isPosting"><i class="loading"></i></span>
            </div>
        </div>
        
    </div>
 
    <div class="card full brackets center" bracketCard #dashboardMessage *ngIf="visibleMessage.key == 'birthday-enter'">

        <div class="content">
            <p>Just out of curiosity, what's your Birthday?</p>

            <div class="spanhalf">
                <div class="columns">
                    <div class="form-input">
                        <select name="birthday-month" [(ngModel)]="birthdayMonth">
                            <option value='0'>Janaury</option>
                            <option value='1'>February</option>
                            <option value='2'>March</option>
                            <option value='3'>April</option>
                            <option value='4'>May</option>
                            <option value='5'>June</option>
                            <option value='6'>July</option>
                            <option value='7'>August</option>
                            <option value='8'>September</option>
                            <option value='9'>October</option>
                            <option value='10'>November</option>
                            <option value='11'>December</option>
                        </select>
                    </div>
                    <input formInput placeholder="Day" type="text" name="birthday-day" [(ngModel)]="birthdayDay" />
                    <input formInput placeholder="Year" type="text" name="birthday-year" [(ngModel)]="birthdayYear" />
                </div>
            </div>

            <div class="action right">
                <span class="button pull-left" (click)="router.navigate(['/app/user'])">Edit your profile</span>
                <span class="button" (click)="dismissVisibleMessage()">Dismiss</span>

                <button class="button brackets" (click)="saveBirthday()" [disabled]='!birthdayMonth || !birthdayDay || !birthdayYear' *ngIf="!isPosting">Save</button>
                <span class="button" *ngIf="isPosting"><i class="loading"></i></span>
            </div>
        </div>
        
    </div>

 </div>