<div class="badge"><i class="fa" [ngClass]="'fa-' + iconClass" [title]="iconDescription || ''"></i></div>

<div class="metadata">
    <div class="row">
        <h5>{{game.names.length ? game.names[0].name : 'New Game'}}</h5>

        <div class="ellipsise">{{descriptionText}}</div>
    </div>

    <div class="row">
        <span *ngIf="game.playerCount && game.playerCount.name" title="{{game.playerCount.description}}"><i class="fa fa-group"></i> {{game.playerCount.name}}</span>
        <span *ngIf="game.duration && game.duration.name" title="{{game.duration.description}}"><i class="fa fa-clock-o"></i> {{game.duration.name}}</span>

        <ul class="taglist hide-mobile">
            <li *ngFor="let tag of game.tags"
                    [title]="tag.description || ''"><i class="fa fa-hashtag"></i> {{tag.name}}</li>
        </ul>
    </div>
</div>
