<div class="tabs">
    <span class="tab" 
        *ngFor="let tab of tabs"
        [class.active]="tab.id == selectedTab"
        (click)="selectTab(tab)">
        <i class="fa fa-{{tab.icon}}"></i>
        <span>{{tab.name}}</span>
    </span>
</div>

<div class="paper has-brackets" *ngIf="selectedTab == 'materials'">
    <div class="content">
        <!--<h4 class="right">Your Materials</h4>-->

        <p *ngIf="team && library.materials.length">These materials are available to everyone in {{team.name}}.</p>

        <div class="card-list" *ngIf="library.materials.length">

            <div class="card small clickable {{material.color}}"
                *ngFor="let material of library.materials"
                (click)="selectMaterial(material)">

                <div class="top">
                    <i *ngIf="material.versions[0] && material.versions[0].extension == 'pdf'" class="fa fa-file-pdf-o" title="PDF"></i>
                    <h3>{{material.name}}</h3>
                </div>
                <div class="body">
                    <p>{{material.description}}</p>
                    <ul class="taglist grey">
                        <li *ngFor="let tag of material.tags">{{tag}}</li>
                        <li class="dull">{{versionTag(material)}}</li>
                    </ul>
                </div>
            </div>

        </div>

        <p *ngIf="!library.materials.length">{{team ? team.name + ' doesn\'t' : 'You don\'t'}} own any materials yet.</p>

    </div>

    <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>

    <div class="right-bracket">
        <h1 *ngIf="!team">Your Materials</h1>
        <h1 *ngIf="team">{{team.name}}</h1>
    </div>
</div>

<div class="paper has-brackets" *ngIf="selectedTab == 'packages'">
    <div class="content">
        <!--<h4 class="right">Your Materials</h4>-->

        <p *ngIf="team && library.packages.length">These packages are available to everyone in {{team.name}}.</p>

        <div class="card-list" *ngIf="library.packages.length">

            <div class="card brackets {{package.color}}"
                *ngFor="let package of library.packages">

                <h4>{{package.name}}</h4>

                <ul>
                    <li *ngFor="let desc of package.description">{{desc}}</li>
                </ul>

                <ul class="taglist files">
                    <li *ngFor="let packageId of package.packages" class="grey clickable"
                        (click)="selectPackageById(packageId)">
                        <i class="fa fa-book"></i>
                        {{findPackageById(packageId).name}}
                    </li>

                    <li *ngFor="let material of package.materials" class="grey clickable"
                        (click)="selectMaterial(material)">
                        <i *ngIf="material.versions[0] && material.versions[0].extension == 'pdf'" class="fa fa-file-pdf-o large" title="PDF"></i>
                        {{material.name}}
                    </li>

                    <li class="{{package.color}} clickable"
                        (click)="selectPackage(package)"><i class="fa fa-book"></i>Download entire {{package.name}} package</li>
                </ul>
            </div>

        </div>

        <p *ngIf="!library.packages.length">{{team ? team.name + ' doesn\'t' : 'You don\'t'}} own any packages yet.</p>

    </div>

    <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>

    <div class="right-bracket">
        <h1 *ngIf="!team">Your Packages</h1>
        <h1 *ngIf="team">{{team.name}}</h1>
    </div>
</div>
