<marketing-toolbar [on]="(pageStart - _app.scrollpos) <= 20"></marketing-toolbar>

<landing-hero [improv]="true"></landing-hero>

<div (window:resize)="setupSize()" class="landing-holder"></div>

<div class="page">

    <div class="paper center">

        <div class="block">

            <h4><span class="light">improv</span><strong>plus</strong></h4>

            <p>What if there was a place for Improv?</p>

            <p>What if we could instantly connect with other Improvisers on a local, regional, national, and even global scale? What if we could utilize the power of modern technology to stop having to deal with the headaches of practicing and performing Improv? What if we could have an easy to use set of tools to help us promote what we do? What if we could easily connect our talents and knowledge with others in order to actually start making money doing what we love?</p>

            <p>Now we can. Welcome to <span class="light">improv</span><strong>plus</strong>.</p>
            
        </div>

        <div class="block">

            <h4>how <iplus class="huge"></iplus> works</h4>

            <div class="columns responsive">
                <div>
                    <i class="fa fa-user-plus huge"></i>
                    <h5>Sign Up</h5>
                    <p>You can join on your own or sign up your whole Troup (we call them Teams).</p>
                </div>

                <div>
                    <i class="fa fa-rocket huge"></i>
                    <h5>Practice</h5> 
                    <p>Use the powerful tools built into the app to take your Improv practice to the next level.</p>
                </div>

                <div>
                    <i class="fa fa-share-alt huge"></i>
                    <h5>Collaborate</h5> 
                    <p>Join the discussion in our community and connect with Improvisers all around the world.</p>
                </div>
            </div>

            <div class="columns spaced">
                <a routerLink="/signup" class="button raised large">Join <iplus></iplus></a>
            </div>
        </div>

    </div>

    <div class="hero">

        <div class="content">

            <h3>features</h3>

            <p>A one-year subscription to the ImprovPlus app includes a smorgasbord of incredible content and features.</p>

            <div class="card-list span3">

                <div class="card blue brackets">
                    <h4>Game Database</h4>
                    <p>View our collection of over 200 Improv warmups, exercises, and games. Keep track of your favorites, and save notes on each one for future reference.</p>
                </div>

                <div class="card blue brackets">
                    <h4>Team Profile</h4>
                    <p>Register your Team and set up a public website with a show calendar, and even sell tickets online.</p>
                </div>

                <div class="card brackets blue disabled">
                    <h4>Community</h4>
                    <p>Connect with other Improvisers around the world and share your thoughts, triumphs and ideas.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card brackets blue disabled">
                    <h4>Hire a Coach</h4>
                    <p>Hire an expert (and fully verified) Improv coach to help your team, whether it's for a one-time workshop or ongoing training.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card brackets blue disabled">
                    <h4>Get Hired</h4>
                    <p>Register to become an Improv Facilitator, share your talents with businesses and Improv Teams, and make money doing it.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card brackets blue disabled">
                    <h4>Editorials</h4>
                    <p>Don't call it a Blog! Stay current with the latest thoughts and updates on the world of Improv and Facilitation.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card brackets blue disabled">
                    <h4>Videos</h4>
                    <p>Browse examples, lessons, tips and tricks, and other stuff that we love.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card brackets blue disabled">
                    <h4>Glossary</h4>
                    <p>Get the answers you seek with our comprehensive Improv reference guide.</p>
                    <em class="message">Coming soon!</em>
                </div>

            </div>

            <div class="columns spaced">
                <a routerLink="/signup" class="button raised large">Join <iplus></iplus></a>
            </div>

        </div>    

    </div>

    <div class="paper center">

        <h4>the era of <strong>plus</strong> has begun</h4>

        <p>It turns out that computers are really good at a few things. Comedy? Not so much. Organizing and presenting sets of data? Connecting people with other people who have similar interests or motivations? Those things are kind of what computers were designed for (they can leave the comedy to us). We think it's time the Improv community took advantage of that - don't you?</p>

        <div class="columns spaced">
            <a routerLink="/signup" class="button raised large">Join <iplus></iplus></a>
        </div>

    </div>

</div>