<marketing-toolbar [on]="(pageStart - _app.scrollpos) <= 20"></marketing-toolbar>

<landing-hero></landing-hero>

<div (window:resize)="setupSize()" class="landing-holder"></div>

<div class="page">

    <div class="paper center">

        <div class="block">

            <h4><span class="light">improv</span><strong>plus</strong></h4>

            <p>Welcome to ImprovPlus.</p>
                
            <p>ImprovPlus applies Improv to Talent Development. We have distilled our most popular Improv workshops into comprehensive guides for Facilitators and Trainers. We walk you through the activities, the agenda, the questions, and the discussions that will bring out the best in your team.</p>

            <p>ImprovPlus is also a flexible method that can be integrated into your existing training equation. As an ImprovPlus Facilitator, you will have an innovative approach to establish ground rules, set the tone, and lead your trainings with confidence. We introduce you to the ImprovPlus way and we leave you with room and flexibility to conduct your trainings your way.</p>

            <p>These tools can help anyone apply Improv to training. No Improv experience is necessary - all you need is the trainer.</p>

            <p>(Don't have one? You can bring us in to lead an ImprovPlus training, too.)</p>
            
        </div>

        <div class="block">
            <h4>how <iplus class="huge"></iplus> works</h4>

            <div class="columns responsive how-it-works">
                <div>
                    <i class="fa fa-user-plus huge"></i>
                    <h5>Sign Up</h5>
                    <p>Create an account for your Company or Group (we call them Teams) and purchase our materials.</p>
                </div>
                <div>
                    <i class="fa fa-download huge"></i>
                    <h5>Download</h5>
                    <p>The materials are yours to keep, and you can download and print them whenever you want.</p>
                </div>
                <div>
                    <i class="fa fa-bullhorn huge"></i>
                    <h5>Train</h5>
                    <p>Use the materials and the resources available in the ImprovPlus app to make your people more awesome.</p>
                </div>
            </div>

            <p>Imagine your team plus...</p>

            <div class="card-list">
                <div class="card brackets flat">
                    <h4>Innovation</h4>
                    <p>There are no wrong answers. Practice following ideas to see where they lead you.</p>
                </div>
                <div class="card brackets flat">
                    <h4>Confidence</h4>
                    <p>Face your fears. Confidence comes from being comfortable when out on a limb.</p>
                </div>
                <div class="card brackets flat">
                    <h4>Agility</h4>
                    <p>Improv develops the mindset of adapting to change, saying yes to knew ideas, and letting go of your assumptions.</p>
                </div>
                <div class="card brackets flat">
                    <h4>Team Building</h4>
                    <p>Communication skills are sharpened by listening and reacting in the moment. The shared experience brings teams together.</p>
                </div>
            </div>
        </div>

        <div class="block">
            
            <p>Business around the world are discovering the power of Improv to make them more awesome. <br /> Absolutely everyone can do it. Absolutely everyone will benefit from it.</p>

            <div class="columns spaced">
                <a routerLink="/signup" class="button raised large">Join <iplus></iplus></a>
            </div>

        </div>

    </div>

    <div class="hero">

        <div class="content">
            
            <h3>packages</h3>

            <p>Get started right away with our innovative program materials. Click through to see more.</p>

            <div class="card-list span3">

                <div class="card brackets clickable {{pkg.color}}"
                    #packageCard
                    bracketCard [fixed]="false"
                    (click)="selectPackage($event, pkg, packageCard)"
                    *ngFor="let pkg of packages">

                    <div class="body-default">
                        <h4>{{pkg.name}}</h4>
                        <p>{{pkg.description[0]}}</p>
                        <!--<p *ngIf="pkg._id != 'sub'">Includes your first year of access to the App.</p>-->
                        <h5 class="center">
                            <label *ngIf="pkg._id != 'sub'">starting at</label>
                            ${{pkg.price}}
                            <label *ngIf="pkg._id == 'sub'">per year</label>
                        </h5>
                    </div>

                    <div class="body-open">
                        <h4>{{pkg.name}}</h4>
                        <p *ngFor="let item of pkg.description">{{item}}</p>
                        <p *ngIf="pkg._id != 'sub'">Includes your first year of access to the App (a $99 value).</p>

                        <h5 class="center">
                            <label *ngIf="pkg._id != 'sub'">starting at</label>
                            ${{pkg.price}}
                            <label *ngIf="pkg._id == 'sub'">per year</label>
                        </h5>

                        <div class="block" *ngIf="pkg._id != 'sub' && pkg.materials.length">
                            <h5>Includes:</h5>

                            <p>These downloadable materials will be yours to keep.</p>

                            <div class="columns responsive left double">
                                <div class=""
                                    *ngFor="let item of pkg.materials">

                                    <p><i class="fa fa-file-pdf-o" title="PDF Download"></i> <strong>{{item.name}}</strong></p>

                                    <p>{{item.description}}</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <h3>the <span class="light">improv</span><strong>plus</strong> app</h3>

            <p>Buying a package includes a year-long subscription to the ImprovPlus app, including an ever-growing smorgasbord of incredible content and features.</p>

            <div class="card-list span3">

                <!--<div class="card blue brackets">
                    <h4>App Subscription</h4>
                    <p>Get access to all of these features.</p>
                    <h5 class="center">$99 / year</h5>
                </div>-->

                <div class="card blue brackets">
                    <h4>Materials Library</h4>
                    <p>Browse your collection, download your materials, and shop for more. Automatically gain access to any updates and revisions, as well.</p>
                </div>

                <div class="card blue brackets">
                    <h4>Game Database</h4>
                    <p>View our collection of over 200 Improv games, warmups, icebreakers, and exercises. Keep track of your favorites, and save your notes on each one for future reference.</p>
                </div>

                <div class="card blue brackets">
                    <h4>Human Support</h4>
                    <p>Running into trouble implementing your program? We're here to help.</p>
                </div>

                <!--<div class="card blue brackets">
                    <h4>Hands-on Coaching</h4>
                    <p>Hire a one-on-one, hands-on session with a Facilitation coach.</p>
                </div>-->

                <div class="card brackets blue disabled">
                    <h4>Community</h4>
                    <p>Connect with other Facilitators and Improvisers around the world and share your thoughts, triumphs and ideas.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card brackets blue disabled">
                    <h4>Hire an Improviser</h4>
                    <p>Hire an expert (and fully verified) Improv coach to run Improv exercises with your team.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card brackets blue disabled">
                    <h4>Editorials</h4>
                    <p>Don't call it a Blog! Stay current with the latest thoughts and updates on the world of Improv and Facilitation.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card brackets blue disabled">
                    <h4>Videos</h4>
                    <p>Browse examples, lessons, tips and tricks, and other stuff that we love.</p>
                    <em class="message">Coming soon!</em>
                </div>

                <div class="card brackets blue disabled">
                    <h4>Glossary</h4>
                    <p>Get the answers you seek with our comprehensive Improv reference guide.</p>
                    <em class="message">Coming soon!</em>
                </div>

            </div>

            <div class="columns spaced">
                <a routerLink="/signup" class="button raised large">Join <iplus></iplus></a>
            </div>

        </div>    

    </div>

    <div class="paper center">

        <div class="block">
            <h4>custom content</h4>

            <p>Don't see what you need? We are always looking to develop new program materials. Connect with us and you can help us shape the next package.</p>
        </div>

        <div class="block">

            <a (click)="showContactDialog()" class="button brackets">Contact Us</a>

        </div>

    </div>

    <div class="paper center">

        <div class="block">
            <h4>train the trainer</h4>

            <p>Do you want to develop your facilitation skills? Do you want to develop the skills of your training team? Register for our Train the Trainer retreat, coming soon from ImprovPlus.</p>
        </div>

        <div class="block">

            <a (click)="showContactDialog()" class="button brackets">Contact Us</a>

        </div>

    </div>

</div>

<div class="dialog-container" [class.show]="contactDialogVisible">
    <div class="dialog-dismiss" (click)="hideContactDialog()"></div>

    <div class="dialog" [@dialog]="'default'" *ngIf="contactDialogVisible && !sent && !sending">

        <form name="contact" (ngSubmit)="submitContact()" #contactForm="ngForm">
            <div class="dialog-content">
                <h2>contact <span class="light">improv</span><strong>plus</strong></h2>

                <div class="section">
                    <div class="columns">
                        <input formInput name="firstName" [(ngModel)]="contact.firstName" required type="text" placeholder="First Name" />
                        <input formInput name="lastName" [(ngModel)]="contact.lastName" required type="text" placeholder="Last Name" />
                    </div>

                    <input formInput name="email" [(ngModel)]="contact.email" required type="text" placeholder="Email Address" />

                    <input formInput name="company" [(ngModel)]="contact.company" type="text" placeholder="Company" />

                    <textarea formInput placeholder="Describe your Team" name="team" [(ngModel)]="contact.team" rows="4"></textarea>

                    <textarea formInput placeholder="What do you hope to accomplish?" name="objective" [(ngModel)]="contact.objective" rows="4"></textarea>

                    <div class="error" *ngIf="contactError" [innerHTML]="contactError"></div>
                </div>
            </div>

            <div class="button-group" *ngIf="!sending">
                <div class="button" (click)="hideContactDialog()">Cancel</div>
                <input type="submit" class="button raised" value="SUBMIT" [disabled]="!contactForm.form.valid" />
            </div>

            <div class="button-group" *ngIf="sending">
                <div class="button"><i class="loading"></i></div>
            </div>
        </form>

    </div>

    <div class="dialog" [@dialog]="'default'" *ngIf="sent">

        <div class="dialog-content center">
            <h2>thank you</h2>

            <p>Our expert team will reach out to you shortly.</p>
        </div>

        <div class="button-group">
            <div class="button" (click)="hideContactDialog()">Done</div>
        </div>

    </div>
</div>