<div class="badge" *ngIf="admin"><i class="fa fa-black-tie" title="Admin"></i></div>
<div class="badge" *ngIf="!admin"><i class="fa fa-user"></i></div>

<div class="metadata">
    <div class="row">
        <h5 *ngIf="user.firstName || user.lastName">{{user.firstName}} {{user.lastName}}</h5>
        <h5 *ngIf="!user.firstName && !user.lastName">{{user.email}}</h5>

        <div class="ellipsise">{{descriptionText}}</div>
    </div>

    <div class="row">
        <span *ngIf="!team || user.subscription.parent != team.subscription._id"><i class="fa fa-id-card-o"></i> Subscription expires: {{_timeUtil.simpleDate(user.subscription.expiration)}}</span>

        <span *ngIf="team && user.subscription.parent == team.subscription._id"><i class="fa fa-id-card-o"></i> Using Team Subscription</span>
    </div>
</div>

<div class="action" *ngIf="userIsMe">
    <span><em>This is you!</em></span>
</div>

<div class="action" *ngIf="!userIsMe">

    <div class="button" *ngIf="admin && amIAdmin" (click)="_demoteUser()"
        title="Demote {{user.firstName || 'this user'}} to no longer be Admin of this Team"><i class="fa fa-user-o"></i></div>
    <div class="button" *ngIf="!admin && amIAdmin" (click)="_promoteUser()"
        title="Promote {{user.firstName || 'this user'}} to Admin of this Team"><i class="fa fa-black-tie"></i></div>

    <div class="button" *ngIf="team && amIAdmin" (click)="_removeUser()"
        title="Remove {{user.firstName || 'this user'}} from the Team"><i class="fa fa-times"></i></div>

</div>
