<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"

    [class.active]="filter"
    [showSearch]="false"
    [searchResults]="searchResults"
    [showBack]="filter"
    (toolClicked)="onToolClicked($event)"
    (search)="onSearch($event)"
    (searchResultClick)="onSearchResultClick($event)"
    (goBack)="clearFilter()"
    ></div>

<div class="page">

    <div class="materials-page paper has-brackets" *ngIf="ownedMaterials && ownedMaterials.length" [materials]="ownedMaterials"></div>

    <div class="materials-page paper has-brackets" *ngFor="let team of adminTeams" [team]="team"></div>

    <div class="materials-page paper has-brackets" *ngFor="let team of teams" [team]="team"></div>

</div>