<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [showBack]="user.memberOfTeams.length + user.adminOfTeams.length > 1"
    ></div>

<div class="page">

    <div class="tabs">
        <span class="tab" 
            *ngFor="let tab of tabs"
            [class.active]="tab.id == selectedTab"
            (click)="selectTab(tab)">
            <i class="fa fa-{{tab.icon}}"></i>
            <span>{{tab.name}}</span>
        </span>
    </div>

    <div class="paper has-brackets" *ngIf-"selectedTab == 'team'">

        <div class="content" *ngIf="team">

            <h4 class="right improvplus-editable-metadata"
                [text]="team.name"
                [blankText]="'The Team with No Name'"
                [canEdit]="can('team_edit')"
                (save)="saveEditName($event)"></h4>

            <div class="metadata horizontal">

                <span class="bullet improvplus-editable-metadata"
                    [text]="team.phone"
                    [blankText]="'No Phone Number'"
                    [icon]="'phone'"
                    [canEdit]="can('team_edit')"
                    (save)="saveEditPhone($event)"></span>

                <span class="bullet improvplus-editable-metadata"
                    [text]="team.email"
                    [blankText]="'No Email'"
                    [icon]="'envelope'"
                    [canEdit]="can('team_edit')"
                    (save)="saveEditEmail($event)"></span>

                <span class="bullet improvplus-editable-metadata"
                    [text]="team.url"
                    [blankText]="'No URL'"
                    [icon]="'link'"
                    [canEdit]="can('team_edit')"
                    (save)="saveEditURL($event)"></span>

                <span class="bullet improvplus-editable-metadata"
                    [text]="team.company"
                    [blankText]="'No Company'"
                    [icon]="'building'"
                    [canEdit]="can('team_edit')"
                    (save)="saveEditCompany($event)"></span>

                <span class="improvplus-editable-metadata"
                    [address]="team.address"
                    [city]="team.city"
                    [state]="team.state"
                    [zip]="team.zip"
                    [country]="team.country"
                    [type]="'address'"
                    [blankText]="'No Address'"
                    [canEdit]="can('team_edit')"
                    (saveAddress)="saveEditAddress($event)"></span>

            </div>

            <hr />

            <div class="description" 
                [innerHTML]="team.description ? team.description : 'No Description'"
                *ngIf="!editDescriptionShown"></div>

            <textarea name="description"
                class="description"
                [(ngModel)]="newDescriptionText" 
                *ngIf="editDescriptionShown"></textarea>

            <div class="button-group" *ngIf="can('team_edit')">
                <div class="button" *ngIf="!editDescriptionShown" (click)="showEditDescription()">Edit Description</div>
                
                <div class="button" *ngIf="editDescriptionShown" (click)="cancelDescription()">cancel</div>
                <div class="button raised" *ngIf="editDescriptionShown" (click)="saveDescription()">SAVE</div>
            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>team details</h1></div>
    </div>

    <!--<div class="paper has-brackets" *ngIf="selectedTab == 'purchases'">
        <div class="card-list">

            <div class="card"
                *ngFor="let purchase of purchases">

                <div class="top">
                    <i class="fa fa-users" *ngIf="purchase.team" title="This purchase was made for your team."></i>
                    <div class="content">
                        <h4 *ngIf="purchase.team">{{purchase.team.name}}</h4>
                        <h3>{{getDate(purchase.date)}}</h3>
                        <h4>{{getTime(purchase.date)}}</h4>
                    </div>
                </div>
                <div class="body">
                    <div class="columns fill" *ngFor="let package of purchase.packages">
                        <span>{{package.package.name}}</span>
                        <span>${{package.price}}</span>
                    </div>
                    <div class="columns fill" *ngFor="let o of purchase.other">
                        <span>{{o.description}}</span>
                        <span>${{o.price}}</span>
                    </div>

                    <div class="columns fill">
                        <div>---</div>
                    </div>

                    <div class="columns fill">
                        <span>Total:</span>
                        <strong>${{purchase.total}}</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>-->
<!--
    <div class="paper has-brackets">

        <div class="content" *ngIf="team">
            <div class="list">
                <div class="item improvplus-user-card clickable" *ngFor="let user of [].concat(team.admins, team.members)"
                    [user]="user"
                    [team]="team"
                    [class.selected] = "user === selectedUser"
                    (click)="selectUser(user)">
                </div>

                <div class="item clickable" *ngFor="let invite of team.subscription.invites"
                    [class.selected] = "invite === selectedInvite"
                    (click)="selectInvite(invite)">

                    <div class="badge text-orange"><i class="fa fa-envelope-open-o"></i></div>

                    <div class="metadata">
                        <div class="row">
                            <h5>{{invite.email}}</h5>
                        </div>

                        <div class="row">
                            <span><i class="fa fa-clock-o"></i> Invite sent: {{_timeUtil.simpleDate(invite.date)}}</span>
                        </div>
                    </div>

                    <div class="action">
                        <div class="button" title="Cancel this invitation?!"><i class="fa fa-times"></i></div>
                    </div>
                </div>
            </div>

            <div class="right">
                <p>Total Users: <span class="tag grey">{{team.admins.length + team.members.length}}</span></p>

                <div *ngIf="isUserAdmin()" class="right">
                    <p *ngIf="pendingInvites">Pending Invites: <span class="tag orange">{{pendingInvites}}</span></p>
                    <p>Remaining Subscriptions: <span class="tag">{{remainingSubs}}</span></p>

                    <p *ngIf="remainingSubs - pendingInvites > 0">You can invite {{team.subscription.subscriptions - team.subscription.children.length}} more of your team members to join ImprovPlus for free.</p>
                    <p *ngIf="remainingSubs - pendingInvites == 0">You have no more free invites, but you can buy additional subscriptions for your team members.</p>

                    <div class="button-group">
                        <div class="button" (click)="leave()">Leave Team</div>
                        <div class="button raised" (click)="invite()">Invite Someone</div>
                    </div>
                </div>

                <div *ngIf="!isUserAdmin()" class="right">
                    <div class="button-group">
                        <div class="button" (click)="leave()">Leave Team</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>members</h1></div>
    </div>-->

</div>

<div class="dialog-container" [class.show]="showInviteDialog">
    <div class="dialog-dismiss" (click)="cancelInvite()"></div>

    <div class="dialog invite-form" *ngIf="showInviteDialog && !inviteStatus" [@dialog]>

        <form class="block" name="invite" (ngSubmit)="submitInvite()" #inviteForm="ngForm">
            <div class="dialog-content">
                <h3>Invite Someone to {{team.name}}</h3>

                <p>Enter the email address of one of your colleagues here, and they will get a magic code in their inbox to join up. This will use one of the available subscriptions on your Team profile.</p>

                <input name="email" formInput [asterisk]="false" [(ngModel)]="inviteEmail" required type="text" placeholder="Email" />

            </div>

            <div class="button-group" *ngIf="!isPosting">
                <a (click)="cancelInvite()" class="button">Cancel</a>
                <input type="submit" class="button raised" value="Send" [disabled]="!inviteForm.form.valid" />
            </div>

            <div class="button-group" *ngIf="isPosting">
                <div class="button"><i class="loading"></i></div>
            </div>
        </form>

    </div>

    <div class="dialog invite-form" *ngIf="showInviteDialog && inviteStatus=='sent'" [@dialog]>

        <div class="dialog-content">
            <h3>Invite Sent!</h3>

            <p>Your invite is on its way. When your colleague has accepted your invitation, they will take one of {{team.name}}'s user subscriptions. We will let you know when this happens. You can also check the status of your invite (and cancel it) here on your team's profile.</p>
        </div>

        <div class="button-group">
            <a (click)="cancelInvite()" class="button">Okay Bye</a>
        </div>

    </div>

</div>