<div class="toolbar"
    [title]="title"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    (toolClicked)="onToolClicked($event)"></div>

<div class="page">

    <div class="paper has-brackets" *ngIf="user">

        <div class="content">
            <user-form 
                [user]="user"
                [isPosting]="isPosting"
                [backText]="'Log Out'"
                (back)="_app.logout()"
                (submit)="submitEditUser($event)"></user-form>
        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>you</h1></div>
    </div>

</div>