<nav [class.show] = "showMenu">
    <div class="nav-top">
        <button (click)="toggleNav()">
            <i class="fa fa-bars" [class.active]="showMenu"></i>
        </button>
        <button (click)="fullscreen()">
            <i class="fa"
                [class.fa-expand]="!showFullscreen"
                [class.fa-compress]="showFullscreen"></i>
        </button>

        <div class="content">
            <h1>The Improv Comedy Database</h1>

            <a routerLink="/user" (click)="toggleNav()" *ngIf="user"><i class="fa fa-user"></i> {{user.Email}}</a>
            
            <div class="login" *ngIf="!user">
                <a routerLink="/user" (click)="toggleNav()"
                    routerLinkActive="active"><i class="fa fa-user"></i> Log In</a>
            </div>
        </div>
    </div>

    <a routerLink="/games" (click)="toggleNav()" routerLinkActive="active"><i class="fa fa-soccer-ball-o"></i> Game Database</a>
    <a routerLink="/about" (click)="toggleNav()" routerLinkActive="active"><i class="fa fa-info-circle"></i> About</a>

    <hr />

    <a routerLink="/contact" (click)="toggleNav()" routerLinkActive="active"><i class="fa fa-envelope"></i> Contact</a>
</nav>

<div (click)="closeOverlays()" class="backdrop nav-backdrop" [class.show]="showMenu || showDialog"></div>

<router-outlet></router-outlet>

<div class="dialog" *ngIf="showDialog" [@dialog]>
    <h2>{{dialogTitle}}</h2>
    <p>{{dialogMessage}}</p>
    <div class="button-group">
        <button (click)="onDialogDismiss()">Cancel</button>
        <button (click)="onDialogConfirm()">{{dialogConfirm}}</button>
    </div>
</div>
