<div class="toolbar" 
    [tools]="tools"
    [title]="title"
    [class.no-shadow]="scrollpos < 80"
    [class.active]="filter"
    [showSearch]="true"
    [searchResults]="searchResults"
    [showBack]="filter"
    (toolClicked)="onToolClicked($event)"
    (search)="onSearch($event)"
    (searchResultClick)="onSearchResultClick($event)"
    (goBack)="clearFilter()"
    ></div>

<div class="content" (scroll)="onScroll($event)">
    <div class="list-metadata" *ngIf="filter">
        <p *ngIf="filter.property == 'search'">Showing results for "{{searchTerm}}"</p>
        <p *ngIf="filter.property != 'search'">Filtered results</p>
    </div>
    <div class="card-list">
        <div class="card ng-game-card" *ngFor="let game of games; trackBy:trackByGames"
            [game]="game"
            [class.selected] = "game === selectedGame"
            [showTags]="tools[0].active"
            (click)="onSelect(game)">
        </div>
    </div>
</div>
<div *ngIf="selectedGame"
    class="page ng-game-details"
    [game]="selectedGame"
    (onClose)="closeDetails($event)" ></div>
