<div class="toolbar" 
    [showBack]="true"
    [class.transparent]="scrollpos < showToolbarScrollPosition"
    [tools]="tools"
    (toolClicked)="onToolClicked($event)"
    (goBack)="closePage()"></div>

<div class="curtain" [style.top]="(-(scrollpos * 0.5)) + 'px'">
    <h2 *ngIf="game">{{game.Names[0].Name}}</h2>
</div>

<div class="content" (scroll)="onScroll($event)">
    <div *ngIf="game" class="material">

        <h4>{{game.Names[0].Name}}</h4>

        <div class="metadata">

            <div *ngIf="game.Names.length === 2">
                <h5>AKA {{game.Names[1].Name}}</h5>
            </div>
            <div *ngIf="game.Names.length > 2">
                <h5 (click)="toggleNames()"><i class="fa fa-sort-down"
                    [class.open]="namesOpen"></i> {{game.Names.length - 1}} known aliases</h5>

                <ol *ngIf="namesOpen" [@expand]>
                    <li *ngFor="let name of game.Names" [class.hide]="name.Name === game.Names[0].Name">{{name.Name}}</li>
                </ol>
            </div>

            <span class="bullet" *ngIf="playerCount" title="{{playerCount.Description}}"><i class="fa fa-group"></i> {{playerCount.Name}}</span>
            <span class="bullet" *ngIf="duration" title="{{duration.Description}}"><i class="fa fa-clock-o"></i> {{duration.Name}}</span>

            <ul class="taglist">
                <li *ngFor="let tag of tags"><i class="fa fa-hashtag"></i> {{tag.Name}}</li>
            </ul>
        </div>

        <div class="description" [innerHTML]="game.Description"></div>

    </div>

    <div *ngIf="game && notes.length > 0" class="material">

        <h4>Discussion</h4>

        <div class="metadata">
            <span>The following has been said about <em>{{game.Names[0].Name}}</em>, or the tags associated with it.</span>
        </div>

        <div *ngFor="let note of notes">
            <div class="description" [innerHTML]="note.Description"></div>
            <div class="metadata right">
                <h5>{{note.AddedFirstName}} {{note.AddedLastName}}</h5>
                
                <span>Regarding
                    <i class="fa"
                        [class.fa-soccer-ball-o]="note.GameID"
                        [class.fa-hashtag]="note.TagID"
                        [class.fa-group]="note.PlayerCountID"
                        [class.fa-clock-o]="note.DurationID"
                        ></i>
                     <em *ngIf="note.GameID">{{game.Names[0].Name}}</em>
                     <em *ngIf="note.TagID && tagMap">{{tagMap[note.TagID]}}</em>
                     <em *ngIf="note.PlayerCountID && playerCount">{{playerCount.Name}}</em>
                     <em *ngIf="note.DurationID && duration">{{duration.Name}}</em>
                </span>
                
            </div>
        </div>

    </div>
</div>