<div class="toolbar" 
    [tools]="tools"
    [title]="title"
    [class.on]="scrollpos > 20"
    [class.active]="filter"
    [showSearch]="true"
    [searchResults]="searchResults"
    [showBack]="filter"
    (toolClicked)="onToolClicked($event)"
    (search)="onSearch($event)"
    (searchResultClick)="onSearchResultClick($event)"
    (goBack)="clearFilter()"
    ></div>

<div class="page fullbg" (window:scroll)="onScroll($event)">

    <div class="list-metadata" *ngIf="filter">
        <p *ngIf="filter.property == 'search'">Showing results for "{{searchTerm}}"</p>
        <p *ngIf="filter.property != 'search'">Filtered results</p>
    </div>
    <div class="paper-label">
        All Games
    </div>
    <div class="list paper">
        <div class="item ng-game-card clickable" *ngFor="let game of games; trackBy:trackByGames"
            [game]="game"
            [class.selected] = "game === selectedGame"
            [showTags]="tools[0].active"
            (click)="onSelect(game)">
        </div>
    </div>

    <div id="cornerLogo">
        <img src="/images/cornerlogo.png" />
    </div>

</div>

<div *ngIf="selectedGame"
    class="page ng-game-details"
    [game]="selectedGame"
    (onClose)="closeDetails($event)" ></div>

<button class="fab" *ngIf="userService.can('game_create')" (click)="createGame()"><i class="fa fa-plus"></i></button>
