@import 'vars';
@import './mixins/elevation';

.error {
    color: darkred;

    &select {
        border-color: darkred;
    }
}

.iplus {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('/images/iplus.png') no-repeat;
}

.loading-icon {
    position: absolute;
    display: block;
    width: 55px;
    height: 55px;
    top: 35%;
    left: 50%;
    margin: -27px 0 0 -27px;
    z-index: 2;
    animation: spin 1000ms 1000ms infinite;

    .small-face {
        fill: $color-primary;
        stroke: $color-secondary;
    }
}

.loading-icon-shadow {
    @extend .loading-icon;
    z-index: 1;
    width: 85px;
    height: 125px;
    margin: -27px 0 0 -37px;
    transform-origin: 37px 40px 0px;

    .small-face {
        fill: rgba(0,0,0,0.3);
        stroke: none;
    }
}

#siteLoader {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5000;
}

#cornerLogo {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-indent: -9999em;
    width: 100%;
    height: auto;
    text-align: right;

    img {
        max-width: 100%;
    }
}

.backdrop {
    @include fixed(0,100%,0,0);
    z-index: 4000;
    background: $color-shade;
    opacity: 0;
    transition: opacity $swift-ease-out-duration $swift-ease-out-timing-function, right 0ms $swift-ease-out-duration;

    &.show {
        transition: opacity $swift-ease-out-duration $swift-ease-out-timing-function;
        right: 0px;
        opacity: 1;
    }
}

.clearfix {
    clear: both;
}

.invisible {
    visibility: hidden !important;
}

.hide {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

.dull {
    opacity: 0.5;
}

.list {
    padding: 0;

    .item {
        padding: $std;
        border-bottom: 1px solid $color-hr;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:last-child {
            border-bottom: 0px;
        }

        .badge {
            font-size: 24px;
            padding-right: 16px;
        }

        .metadata {
            overflow: hidden;

            .row {
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                &:first-child {
                    margin-bottom: $small;
                }
            }

            h5 {
                margin: 0 ($large * 2) 0 0;
                white-space: nowrap;
                font-size: 16px;
                font-weight: bold;
            }
            .ellipsise {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 12px;
                
                p {
                    display: inline-block;
                    margin: 0;
                }

                ul, ol, blockquote {
                    display: none;
                }
            }
            span {
                margin: 0 $std 0 0;
            }
        }
    }
}