@import "vars";
@import "elevation";

.card-list {
    /*
    margin: $content-padding;
    */
    padding: $content-padding;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

.card {
    flex-grow: 1;
    display: inline-block;

    padding: $card-padding;
    background: $color-content-bg;
    margin: $card-margin;
    border-radius: $card-border-radius;
    cursor: pointer;
    position: relative;
    max-width: 500px;
    @include md-elevation($card-elevation-default);
    @include md-elevation-transition;

    @media #{$media-mobile} {
        display: block;
        width: 90%;
        margin: $card-margin-mobile;
        padding: $card-padding-mobile;
        box-sizing: border-box;
    }

    .badge {
        @include abs(-10px, null, null, -10px);
        background: $color-primary;
        border-radius: 50%;
        padding: 2px;
        font-size: 20px;
        color: $color-primary-text;
        @include md-elevation($card-elevation-default);
        @include md-elevation-transition;
    }

    .close {
        @include abs(1px, 5px, null, null);
        font-size: 1.5em;
    }

    &.selected {
        background: $color-active;
        @include md-elevation($card-elevation-active);

        .badge {
            color: $color-active;
            @include md-elevation($card-elevation-active);
        }
    }

    &:hover {
        @include md-elevation($card-elevation-active);

        .badge {
            @include md-elevation($card-elevation-active);
        }
    }

    h5 {
        font-size: 1.1em;
        margin: 0 0 $card-title-margin-bottom 0;

        @media #{$media-mobile} {
            float: left;
            margin-right: 5px;
        }
    }

    // TODO: make this use flexbox on mobile
    .metadata {
        font-size: 0.8em;

        @media #{$media-mobile} {
            float: right;
        }
    }
}

// custom to improv database
.content {
    & > .ng-game-card {
        position: fixed;
        top: $toolbar-height;
        margin: 20px 0;
        @include md-elevation(24);
        background-color: $color-dialog-bg;
    }
}