@import "vars";
@import "mixins";
@import "anim";

html {
    background: $color-secondary;
}

body {
    font-family: $font-family;
    background: $color-secondary;
    overflow: hidden;
    color: $color-text;
}

a {
    color: $color-primary;

    &:visited {
        color: $color-primary;
    }
    &.active {
        color: $color-active;
        text-decoration: none;
    }
}

h2, h3, h4, h5, p, button {
    margin: $content-item-vertical-margin $content-item-horizontal-margin;
}

.loading-icon {
    position: absolute;
    display: block;
    width: 55px;
    height: 55px;
    top: 35%;
    left: 50%;
    margin: -27px 0 0 -27px;
    z-index: 2;
    animation: spin 1000ms 1000ms infinite;

    .small-face {
        fill: $color-primary;
        stroke: $color-secondary;
    }
}

.loading-icon-shadow {
    @extend .loading-icon;
    z-index: 1;
    width: 85px;
    height: 125px;
    margin: -27px 0 0 -37px;
    transform-origin: 37px 40px 0px;

    .small-face {
        fill: rgba(0,0,0,0.3);
        stroke: none;
    }
}

#siteLoader {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5000;
}

#cornerLogo {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-indent: -9999em;
    width: 100%;
    height: auto;
    text-align: right;

    img {
        max-width: 100%;
    }
}

.backdrop {
    @include fixed(0,100%,0,0);
    z-index: 9;
    background: $color-shade;
    opacity: 0;
    transition: opacity $swift-ease-out-duration $swift-ease-out-timing-function, right 0ms $swift-ease-out-duration;

    &.show {
        transition: opacity $swift-ease-out-duration $swift-ease-out-timing-function;
        right: 0px;
        opacity: 1;
    }
}

.clearfix {
    clear: both;
}

.invisible {
    visibility: hidden !important;
}

.hide {
    display: none !important;
}

my-app {
    @include abs(0px, 0px, 0px, 0px);
    z-index: 2;
    overflow: hidden;
}

.content {
    overflow: auto;
    @include abs($toolbar-height, 0, 0, 0);
}

@import "toolbar";
@import "cards";
@import "bits";
@import "page";
