@import "elevation";
@import "vars";
@import "mixins";

.page {
    @include fixed(0, 0, 0, 0);
    z-index: 11; //show on top of the toolbar even
    background-color: $color-content-bg;
    overflow: auto;
    @include md-elevation($dialog-elevation);

    .curtain {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $page-material-margin-top * 2;
        background: $color-secondary;
        overflow: hidden;

        //@include md-elevation(3);

        @media #{$media-mobile} {
            height: $page-material-margin-top * 4;
        }

        h2 {
            font-weight:bold;
            font-size: 22vw;
            color: $color-content-bg;
            transform: rotateZ(-22deg);
            position: absolute;
            top: -47%;
            left: 48vw;
            text-indent: -54vw;
            line-height: 0.8;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

            @media #{$media-mobile} {
                top: -5%;
            }
        }
    }

    .material {
        margin: $page-material-margin;
        border-radius: 2px;
        @include md-elevation($card-elevation-default);
        background: $color-material-bg;
        padding: $page-material-padding;

        &.dim {
            opacity: 0.5;
        }

        &:first-child {
            margin-top: $page-material-margin-top;
        }
        &:last-child {
            margin-bottom: $page-material-margin-top;
        }

        & > *:last-child{
            margin-bottom: $content-item-vertical-margin !important;
        }

        h4 {
            margin: $content-item-vertical-margin $page-left-margin-no-icon $page-header-spacing;
            font-size: $title-font-size;
            line-height: $title-line-height;

            span {
                display: inline-block;
                vertical-align: middle;
                vertical-align: middle;
            }
            i {
                font-size: 0.7em;
                opacity: 0;
                transition: opacity 200ms;
                line-height: $title-line-height;
                margin-left: $content-spacing;
            }

            input {
                display: inline-block;
                width: auto;
                margin: -5px 0 -4px 0;
                font-size: 0.75em;
            }

            &:hover {
                i {
                    opacity: 1;
                }
            }
        }

        h5 {
            font-size: $subtitle-font-size;
            margin: 0 0 $page-header-spacing 0;
        }

        .metadata {
            margin: 0 $page-left-margin-no-icon $page-item-spacing * 2;
            padding-bottom: $page-item-spacing * 2;
            border-bottom: 1px solid $color-hr;

            ol {
                margin: -($page-header-spacing - $page-item-spacing) 0 $page-header-spacing 0;

                li {
                    line-height: 1.5em;
                    font-style: italic;
                }
            }

            .taglist {
                display: inline-block;
                vertical-align: middle;
            }

            &:last-child {
                border-bottom: 0px;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }

            select {
                height: 20px;
                vertical-align: middle;
            }
        }

        .description {
            line-height: 1.4;
            margin: 0 $page-left-margin-no-icon;

            p:first-child {
                margin-top: 0;
            }

            .image {
                max-width: 90%;
                text-align: center;
                margin: auto;

                img {
                    max-width: 100%;
                }

                p {
                    margin-top: 0;
                    text-align: left;
                }
            }

        }

        textarea.description {
            width: 90%;
            height: 180px;
        }

        .button-group {
            margin: $content-spacing-long $page-left-margin-no-icon 0;
            display: flex;
            justify-content: flex-end;
        }

        /*
        button, .button {
            display: inline-block;
            text-decoration: none;
            padding: $content-padding $margin;
            font-size: 1.2em;
            background: $color-primary;
            color: $color-primary-text;
            border: 0px;
            cursor: pointer;
            border-radius: $border-radius;
            @include md-elevation(2);
            @include md-elevation-transition();

            &:hover {
                @include md-elevation(8);
            }
        }
        */

    }
}