@import "./mixins/elevation";
@import "./mixins/mixins";

@import "vars";

#left-bracket,
#right-bracket {
    @include abs(($toolbar-height / 2), null, ($toolbar-height / 2), null, 5);
    border: 1px solid $color-text;
    width: $page-bracket-width;
}

#left-bracket {
    left: ($toolbar-height / 2);
    border-right-width: 0px;
}

#right-bracket {
    right: ($toolbar-height / 2);
    border-left-width: 0px;
}

.page {
    min-height: 100vh;
    padding-top: $toolbar-height;
    box-sizing: border-box;
    position: relative;
    padding: $toolbar-height $page-bracket-width $page-bracket-width;

    &.fullbg {
        background: $color-secondary;
    }

    &::before {
        content: "";
        @include abs(0, 0, null, 0, 1);
        height: $curtain-height;

        @include background-linear-gradient-down($color-secondary-fade, 12px, $color-secondary, ($toolbar-height * 1.8), $color-secondary); 
    }

    .paper-label {
        font-size: 16px;
        padding: $std;
        margin: 0 ($toolbar-height / 2)+2;
        position: relative;
        z-index: 2;
    }

    .paper {
        border-radius: $border-radius;
        @include md-elevation($card-elevation-default);
        background: $color-white;
        padding: $std;
        position: relative;
        z-index:  2;
        margin: 0 ($toolbar-height / 2)+2 $std;

        &.list {
            padding: 0;
        }
    }
}