@import "vars";
@import "elevation";

.toolbar {
    display: flex;
    box-sizing: border-box;

    width: 100%;
    min-height: $toolbar-height;

    font-size: $toolbar-font-size;
    font-weight: $toolbar-font-weight;
    font-family: $font-family;

    padding: 0;

    flex-direction: column;

    background-color: $color-primary;
    color: $color-primary-text;

    position: fixed;
    z-index: 8;

    @include md-elevation($toolbar-elevation);
    
    transition: #{$md-elevation-property} #{$md-elevation-transition-duration} #{$md-elevation-transition-timing-function},
        background-color 300ms;

    &.no-shadow {
        @include md-elevation(0);
    }
    &.transparent {
        background-color: $color-transparent;
        @include md-elevation(0);
    }

    .toolbar-row {
        display: flex;
        box-sizing: border-box;

        width: 100%;
        height: $toolbar-height;

        flex-direction: row;
        align-items: center;

        h2 {
            margin: 0;
            cursor: pointer;

            span {
                font-size: 0.7em;
                font-style: italic;
            }
        }

        .spacer {
            flex: 1 1 auto;
        }

        transition: background 300ms, color 300ms;

        &.active {
            background-color: $color-active;
            color: $color-text;

            button {
                color: $color-text;
            }

            .search {
                background-color: $color-material-bg;
                color: $color-text;
            }
        }
    }

    $search-inactive-color: rgba(255,255,255,0.7);
    $search-active-color: $color-text;
    $search-transition: all 0.2s ease;

    .dropdown-container {
        overflow: hidden;
        transition: $search-transition;

        .dropdown {
            height: 0;
            max-height: 0px;
            transition: $search-transition;
        }

        &.open {
            .dropdown {
                max-height: $dropdown-max-height;
            }
        }
    }

    .search {
        position: relative;
        display: block;
        overflow: hidden;
        z-index: 1;
        transition: $search-transition;
        background-color: rgba(255, 255, 255, 0.16);
        border-radius: $search-border-radius;
        flex: 2;
        color: $search-inactive-color;
        align-self: flex-start;
        margin-top: $search-margins;

        .fa-search {
            position: absolute;
            z-index: 2;
            top: 7px;
            left: $search-icon-margins;
        }

        .fa-close {
            position: absolute;
            z-index: 2;
            top: 7px;
            right: $search-icon-margins;
            cursor: pointer;
        }

        input {
            border: 1px solid transparent;
            transition: border 0.1s ease-out;
            background: transparent;
            box-sizing: border-box;
            width: 100%;
            padding: 0 $search-padding;
            height: $search-height;
            border-radius: $search-border-radius;

            &::-webkit-input-placeholder {
                color: $search-inactive-color;
            }
            &:-moz-placeholder {
                color: $search-inactive-color;
            }
            &::-moz-placeholder {
                color: $search-inactive-color;
            }
            &::-ms-input-placeholder {
                color: $search-inactive-color;
            }
        }

        .results {
            padding: 0;
            border-radius: 0 0 $search-border-radius $search-border-radius;
            transition: $search-transition;
            color: $search-active-color;
            max-height: 0px;
            overflow: hidden;

            ul {
                li {
                    line-height: $search-height;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-active; 
                    }

                    i {
                        margin: 0 $search-icon-margins;
                    }

                    &:first-child {
                        margin-top: $search-margins;
                    }
                    &:last-child {
                        margin-bottom: $search-margins;
                    }
                }
            }
        }

        &.active {
            background-color: $color-material-bg;
            @include md-elevation(8);
            color: $search-active-color;
            
            input {
                border-bottom: 1px solid #e5e5e5;
                transition: border 0.1s ease-in;

                &::-webkit-input-placeholder {
                    color: $search-active-color;
                }
                &:-moz-placeholder {
                    color: $search-active-color;
                }
                &::-moz-placeholder {
                    color: $search-active-color;
                }
                &::-ms-input-placeholder {
                    color: $search-active-color;
                }
            }

            .results {
                max-height: $dropdown-max-height;
                overflow: auto;
            }
        }
    }
}

.toolbar button,
nav button {
    height: $toolbar-height;
    width: $toolbar-height;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: 0px;
    font-size: 1.15em;
    color: $color-primary-text;
    margin: 0;
    float: left;

    &.active {
        color: $color-active;
    }
}

.toolbar button {
    &:last-child {
        margin-right: $margin;
    }
}

.fa-bars {
    transition: transform $swift-ease-out-duration $swift-ease-out-timing-function;
    &.active {
        transform: rotateZ(90deg);
    }
}

nav {
    @include fixed(0, null, 0, 0);
    z-index: 5000;

    min-width: 200px;
    max-width: 400px;
    width: 20%;

    box-sizing: border-box;
    display: block;

    overflow: hidden;
    padding: 0;

    @include md-elevation(0);
    @include md-elevation-transition;

    background-color: $color-content-bg;
    font-size: $toolbar-font-size;

    transform: translate3d(-100%, 0, 0);
    transition: transform $swift-ease-out-duration $swift-ease-out-timing-function;

    &.show {
        @include md-elevation($nav-elevation);
        transform: translate3d(0, 0, 0);
    }

    .nav-top {
        width: 100%;
        position: relative;
        margin-bottom: $nav-item-spacing;
        background-color: $color-menu-active-bg;
        color: $color-active;
        box-shadow: 0px 1px 15px rgba(0,0,0,0.3) inset;

        &:before {
            /* makes it square! */
            content: "";
            display: block;
            padding-top: 100%;
        }

        h1 {
            @include abs(null, $nav-item-spacing, $nav-item-spacing, $nav-item-spacing);
            text-align: right;
            font-size: 1.5em;
        }

        button {
            &:first-of-type {
                @include abs(0, null, null, 0);
            }

            &:last-of-type {
                @include abs(0, 0, null, null);
            }
        }
    }

    a {
        display: block;
        color: $color-text;
        text-decoration: none;
        padding: $nav-item-spacing $nav-padding;
        cursor: pointer;
        white-space: nowrap;

        i {
            margin: 0 $nav-item-icon-margin;
            width: 20px;
            text-align: center;
        }

        &:visited {
            color: $color-text;
        }

        &:hover {
            background-color: $color-active;
        }

        &.active {
            background-color: $color-menu-active-bg;
            color: $color-active;
            box-shadow: 0px 1px 10px rgba(0,0,0,0.1) inset;
        }
    }
}
