// colors!
$color-primary: #CE872D; // the primary color for the app!
$color-primary-text: rgba(252,247,209, 1); // color for text when shown on top of the primary color

$color-secondary: #8A211D; // the color for various components

$color-window-bg: $color-secondary; // the window background color
$color-content-bg: rgba(252,247,209, 0.9); // content area background color
$color-dialog-bg: rgb(252,247,209); // background color for modals and stuff
$color-material-bg: #FFFFFF; // background color for the "sheets" of material (details page, for example)

$color-shade: rgba(0,0,0,0.2); // the color for fullscreen 'shade' elements

$color-text: #666; // primary text color
$color-hr: #e5e5e5; // color for dividers

$color-active: #F0CF4E; // highlight color for active elements
$color-menu-active-bg: $color-text; // background on the selected item on a menu

$color-transparent: rgba(0,0,0,0); //utility!

/* maybe not used?
$color-active-text: #666; // active menu text
$color-hover: rgb(252,247,209); // table row hover background
*/

// FONT
$font-family: 'Roboto', 'Helvetica Neue', sans-serif !default;

// timings!
$anim-duration: 300ms;

// media query names
$media-mobile: "only screen and (max-width: 700px)";

// The default animation curves used by material design.
$md-linear-out-slow-in-timing-function: cubic-bezier(0, 0, 0.2, 0.1) !default;
$md-fast-out-slow-in-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;
$md-fast-out-linear-in-timing-function: cubic-bezier(0.4, 0, 1, 1) !default;

$ease-in-out-curve-function: cubic-bezier(0.35, 0, 0.25, 1) !default;

$swift-ease-out-duration: 400ms !default;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;

$swift-ease-in-duration: 300ms !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

$swift-ease-in-out-duration: 500ms !default;
$swift-ease-in-out-timing-function: $ease-in-out-curve-function !default;
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function !default;

$swift-linear-duration: 80ms !default;
$swift-linear-timing-function: linear !default;
$swift-linear: all $swift-linear-duration $swift-linear-timing-function !default;

// elevations
$card-elevation-default: 2;
$card-elevation-active: 8;
$toolbar-elevation: 4;
$nav-elevation: 16;
$dialog-elevation: 24;

// dimens
$content-padding: 1%;
$content-spacing: 1%;

$content-item-vertical-margin: 2%;
$content-item-horizontal-margin: 0;

$margin: 14px;
$border-radius: 2px;

$dropdown-max-height: 337px;

// toolbar
$toolbar-height: 48px;
$toolbar-font-size: 20px;
$toolbar-font-weight: 400;
$toolbar-padding: 16px;
$toolbar-icon-spacing: 1%;

// search
$search-margins: 6px;
$search-padding: 47px;
$search-border-radius: $border-radius;
$search-icon-margins: $margin;
$search-height: $toolbar-height - ($search-margins * 2);
$search-results-max-height: ($search-height * 9) + ($search-margins * 2);

// nav
$nav-item-spacing: 0.5em;
$nav-padding: 0.5em;
$nav-item-icon-margin: $margin;

// bits
$tag-spacing: 2px;
$tag-padding: 2px 5px;
$tag-border-radius: $border-radius * 2;
$metadata-spacing: 4px;

// dialogs

// cards
$card-padding: $margin;
$card-padding-mobile: $margin;
$card-margin: $margin;
$card-margin-mobile: $margin;
$card-border-radius: $border-radius * 2;
$card-title-margin-bottom: 8px;

// pages
$page-header-spacing: 12px;
$page-left-margin-no-icon: 5%;
$title-font-size: 28px;
$subtitle-font-size: 18px;
$title-line-height: 32px;
$page-item-spacing: 8px;
$page-material-padding: 16px;
$page-material-margin: $content-item-vertical-margin 6% 30px;
$page-material-margin-top: 15vw;
