/* This whole puppy was done up by Shauvon McGill - smcgill@denyconformity.com */
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  width: 100%;
  height: 100%; }

/* maybe not used?
$color-active-text: #666; // active menu text
$color-hover: rgb(252,247,209); // table row hover background
*/
@-webkit-keyframes shake {
  0%, 100% {
    transform: translateX(0px); }
  10%, 50%, 90% {
    transform: translateX(20px); }
  30%, 70% {
    transform: translateX(-20px); } }

@-moz-keyframes shake {
  0%, 100% {
    transform: translateX(0px); }
  10%, 50%, 90% {
    transform: translateX(20px); }
  30%, 70% {
    transform: translateX(-20px); } }

@-ms-keyframes shake {
  0%, 100% {
    transform: translateX(0px); }
  10%, 50%, 90% {
    transform: translateX(20px); }
  30%, 70% {
    transform: translateX(-20px); } }

@keyframes shake {
  0%, 100% {
    transform: translateX(0px); }
  10%, 50%, 90% {
    transform: translateX(20px); }
  30%, 70% {
    transform: translateX(-20px); } }

@-webkit-keyframes bubble_in {
  0% {
    transform: translateX(20px) scaleX(0) scaleY(0);
    opacity: 0; }
  100% {
    transform: translateX(0px) scaleX(1) scaleY(1);
    opacity: 1; } }

@-moz-keyframes bubble_in {
  0% {
    transform: translateX(20px) scaleX(0) scaleY(0);
    opacity: 0; }
  100% {
    transform: translateX(0px) scaleX(1) scaleY(1);
    opacity: 1; } }

@-ms-keyframes bubble_in {
  0% {
    transform: translateX(20px) scaleX(0) scaleY(0);
    opacity: 0; }
  100% {
    transform: translateX(0px) scaleX(1) scaleY(1);
    opacity: 1; } }

@keyframes bubble_in {
  0% {
    transform: translateX(20px) scaleX(0) scaleY(0);
    opacity: 0; }
  100% {
    transform: translateX(0px) scaleX(1) scaleY(1);
    opacity: 1; } }

@-webkit-keyframes spin {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(359deg); } }

@-moz-keyframes spin {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(359deg); } }

@-ms-keyframes spin {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(359deg); } }

@keyframes spin {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(359deg); } }

/* maybe not used?
$color-active-text: #666; // active menu text
$color-hover: rgb(252,247,209); // table row hover background
*/
html {
  background: #8A211D; }

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  background: #8A211D;
  overflow: hidden;
  color: #666; }

a {
  color: #CE872D; }
  a:visited {
    color: #CE872D; }
  a.active {
    color: #F0CF4E;
    text-decoration: none; }

h2, h3, h4, h5, p, button {
  margin: 2% 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

.error {
  color: darkred; }
  .errorselect {
    border-color: darkred; }

.loading-icon, .loading-icon-shadow {
  position: absolute;
  display: block;
  width: 55px;
  height: 55px;
  top: 35%;
  left: 50%;
  margin: -27px 0 0 -27px;
  z-index: 2;
  animation: spin 1000ms 1000ms infinite; }
  .loading-icon .small-face, .loading-icon-shadow .small-face {
    fill: #CE872D;
    stroke: #8A211D; }

.loading-icon-shadow {
  z-index: 1;
  width: 85px;
  height: 125px;
  margin: -27px 0 0 -37px;
  transform-origin: 37px 40px 0px; }
  .loading-icon-shadow .small-face {
    fill: rgba(0, 0, 0, 0.3);
    stroke: none; }

#siteLoader {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000; }

#cornerLogo {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  text-indent: -9999em;
  width: 100%;
  height: auto;
  text-align: right; }
  #cornerLogo img {
    max-width: 100%; }

.backdrop {
  position: fixed;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  z-index: 4000;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1), right 0ms 400ms; }
  .backdrop.show {
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    right: 0px;
    opacity: 1; }

.clearfix {
  clear: both; }

.invisible {
  visibility: hidden !important; }

.hide {
  display: none !important; }

my-app {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  overflow: hidden; }

.content {
  overflow: auto;
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0; }

/* maybe not used?
$color-active-text: #666; // active menu text
$color-hover: rgb(252,247,209); // table row hover background
*/
/* maybe not used?
$color-active-text: #666; // active menu text
$color-hover: rgb(252,247,209); // table row hover background
*/
.toolbar {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 48px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  padding: 0;
  flex-direction: column;
  background-color: #CE872D;
  color: #fcf7d1;
  position: fixed;
  z-index: 8;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms; }
  .toolbar.active {
    background-color: #F0CF4E;
    color: #666; }
    .toolbar.active .toolbar-row button {
      color: #666; }
    .toolbar.active .toolbar-row .search {
      background-color: #FFFFFF;
      color: #666; }
  .toolbar.no-shadow {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }
  .toolbar.transparent {
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }
  .toolbar .toolbar-row {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    flex-direction: row;
    align-items: center; }
    .toolbar .toolbar-row h2 {
      margin: 0;
      cursor: pointer; }
      .toolbar .toolbar-row h2 span {
        font-size: 0.7em;
        font-style: italic; }
    .toolbar .toolbar-row .spacer {
      flex: 1 1 auto; }
    @media only screen and (max-width: 700px) {
      .toolbar .toolbar-row h2, .toolbar .toolbar-row .spacer {
        transition: max-width 300ms;
        max-width: 500px;
        overflow: hidden; }
      .toolbar .toolbar-row.search-open h2, .toolbar .toolbar-row.search-open .spacer {
        max-width: 0; } }
  .toolbar .dropdown-container {
    overflow: hidden;
    transition: all 0.2s ease; }
    .toolbar .dropdown-container .dropdown {
      height: 0;
      max-height: 0px;
      transition: all 0.2s ease; }
    .toolbar .dropdown-container.open .dropdown {
      max-height: 337px; }
  .toolbar .search {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
    transition: all 0.2s ease;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 2px;
    flex: 2;
    color: rgba(255, 255, 255, 0.7);
    align-self: flex-start;
    margin-top: 6px; }
    .toolbar .search .fa-search {
      position: absolute;
      z-index: 2;
      top: 7px;
      left: 14px; }
    .toolbar .search .fa-close {
      position: absolute;
      z-index: 2;
      top: 7px;
      right: 14px;
      cursor: pointer; }
    .toolbar .search input {
      border: 1px solid transparent;
      transition: border 0.1s ease-out;
      background: transparent;
      box-sizing: border-box;
      width: 100%;
      padding: 0 47px;
      height: 36px;
      border-radius: 2px; }
      .toolbar .search input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7); }
      .toolbar .search input:-moz-placeholder {
        color: rgba(255, 255, 255, 0.7); }
      .toolbar .search input::-moz-placeholder {
        color: rgba(255, 255, 255, 0.7); }
      .toolbar .search input::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.7); }
    .toolbar .search .results {
      padding: 0;
      border-radius: 0 0 2px 2px;
      transition: all 0.2s ease;
      color: #666;
      max-height: 0px;
      overflow: hidden; }
      .toolbar .search .results ul li {
        line-height: 36px;
        cursor: pointer;
        display: flex;
        align-items: center; }
        .toolbar .search .results ul li:hover {
          background-color: #F0CF4E; }
        .toolbar .search .results ul li i {
          margin: 0 14px; }
        .toolbar .search .results ul li:first-child {
          margin-top: 6px; }
        .toolbar .search .results ul li:last-child {
          margin-bottom: 6px; }
    .toolbar .search.active {
      background-color: #FFFFFF;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
      color: #666; }
      .toolbar .search.active input {
        border-bottom: 1px solid #e5e5e5;
        transition: border 0.1s ease-in; }
        .toolbar .search.active input::-webkit-input-placeholder {
          color: #666; }
        .toolbar .search.active input:-moz-placeholder {
          color: #666; }
        .toolbar .search.active input::-moz-placeholder {
          color: #666; }
        .toolbar .search.active input::-ms-input-placeholder {
          color: #666; }
      .toolbar .search.active .results {
        max-height: 337px;
        overflow: auto; }

.toolbar button,
nav button {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: 0px;
  font-size: 1.15em;
  color: #fcf7d1;
  margin: 0;
  float: left; }
  .toolbar button.active,
  nav button.active {
    color: #F0CF4E; }

.toolbar button:last-child {
  margin-right: 14px; }

.fa-bars {
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  .fa-bars.active {
    transform: rotateZ(90deg); }

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  min-width: 230px;
  max-width: 400px;
  width: 20%;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 0;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
  background-color: rgba(252, 247, 209, 0.9);
  font-size: 20px;
  transform: translate3d(-100%, 0, 0);
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1); }
  nav.show {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    transform: translate3d(0, 0, 0); }
  nav .nav-top {
    width: 100%;
    position: relative;
    margin-bottom: 0.5em;
    background-color: #666;
    color: #F0CF4E;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3) inset; }
    nav .nav-top:before {
      /* makes it square! */
      content: "";
      display: block;
      padding-top: 100%; }
    nav .nav-top h1 {
      position: absolute;
      right: 0.5em;
      bottom: 0.5em;
      left: 0.5em;
      text-align: right;
      font-size: 1.5em; }
    nav .nav-top button:first-of-type {
      position: absolute;
      top: 0;
      left: 0; }
    nav .nav-top button:last-of-type {
      position: absolute;
      top: 0;
      right: 0; }
  nav a {
    display: block;
    color: #666;
    text-decoration: none;
    padding: 0.5em 0.5em;
    cursor: pointer;
    white-space: nowrap; }
    nav a i {
      margin: 0 14px;
      width: 20px;
      text-align: center; }
    nav a:visited {
      color: #666; }
    nav a:hover {
      background-color: #F0CF4E; }
    nav a.active {
      background-color: #666;
      color: #F0CF4E;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1) inset; }

/* maybe not used?
$color-active-text: #666; // active menu text
$color-hover: rgb(252,247,209); // table row hover background
*/
/* maybe not used?
$color-active-text: #666; // active menu text
$color-hover: rgb(252,247,209); // table row hover background
*/
.list-metadata {
  text-align: center;
  color: rgba(252, 247, 209, 0.9); }
  .list-metadata p {
    margin-bottom: 0px; }

.card-list {
  /*
    margin: $content-padding;
    */
  padding: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start; }

.card {
  flex-grow: 1;
  display: inline-block;
  padding: 14px;
  background: rgba(252, 247, 209, 0.9);
  margin: 14px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  max-width: 500px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow; }
  @media only screen and (max-width: 700px) {
    .card {
      display: block;
      width: 90%;
      margin: 14px;
      padding: 14px;
      box-sizing: border-box; } }
  .card .badge {
    position: absolute;
    top: -10px;
    left: -10px;
    background: #CE872D;
    border-radius: 50%;
    padding: 2px;
    font-size: 20px;
    color: #fcf7d1;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow; }
  .card .close {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 1.5em; }
  .card.selected {
    background: #F0CF4E;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }
    .card.selected .badge {
      color: #F0CF4E;
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }
  .card:hover {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }
    .card:hover .badge {
      box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }
  .card h5 {
    font-size: 1.1em;
    margin: 0 0 8px 0; }
    @media only screen and (max-width: 700px) {
      .card h5 {
        float: left;
        margin-right: 5px; } }
  .card .metadata {
    font-size: 0.8em; }
    @media only screen and (max-width: 700px) {
      .card .metadata {
        float: right; } }

.content > .ng-game-card {
  position: fixed;
  top: 48px;
  margin: 20px 0;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  background-color: #fcf7d1; }

/* maybe not used?
$color-active-text: #666; // active menu text
$color-hover: rgb(252,247,209); // table row hover background
*/
/* maybe not used?
$color-active-text: #666; // active menu text
$color-hover: rgb(252,247,209); // table row hover background
*/
.taglist li {
  display: inline-block;
  margin: 2px;
  padding: 2px 5px;
  background: #CE872D;
  color: #fcf7d1;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); }
  .taglist li .fa {
    font-size: 0.9em;
    line-height: 14px; }

.metadata.right {
  text-align: right; }

.metadata span {
  display: inline-block;
  vertical-align: middle;
  margin: 4px 0;
  height: 14px;
  line-height: 14px; }
  .metadata span:last-child {
    border-right: 0px;
    margin-right: 0px;
    padding-right: 0px; }
  .metadata span:not(:last-child):after {
    content: "\2022";
    margin: 0 4px 0 8px; }

.metadata i {
  width: 16px;
  height: 14px;
  text-align: center;
  display: inline-block; }
  .metadata i.fa-sort-down {
    transform-origin: 50% 75%;
    transition: transform 100ms cubic-bezier(0.35, 0, 0.25, 1);
    position: relative;
    top: -2px; }
    .metadata i.fa-sort-down.open {
      transform: rotateZ(180deg); }

/* maybe not used?
$color-active-text: #666; // active menu text
$color-hover: rgb(252,247,209); // table row hover background
*/
/* maybe not used?
$color-active-text: #666; // active menu text
$color-hover: rgb(252,247,209); // table row hover background
*/
.page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(252, 247, 209, 0.9);
  overflow: auto;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); }
  .page .curtain {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30vw;
    background: #8A211D;
    overflow: hidden; }
    @media only screen and (max-width: 700px) {
      .page .curtain {
        height: 60vw; } }
    .page .curtain h2 {
      font-weight: bold;
      font-size: 22vw;
      color: rgba(252, 247, 209, 0.9);
      transform: rotateZ(-22deg);
      position: absolute;
      top: -47%;
      left: 48vw;
      text-indent: -54vw;
      line-height: 0.8;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); }
      @media only screen and (max-width: 700px) {
        .page .curtain h2 {
          top: -5%; } }
  .page .material {
    margin: 2% 6% 30px;
    border-radius: 2px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background: #FFFFFF;
    padding: 16px; }
    .page .material.dim {
      opacity: 0.5; }
    .page .material:first-child {
      margin-top: 15vw; }
    .page .material:last-child {
      margin-bottom: 15vw; }
    .page .material > *:last-child {
      margin-bottom: 2% !important; }
    .page .material h4 {
      margin: 2% 5% 12px;
      font-size: 28px;
      line-height: 32px; }
    .page .material h5 {
      font-size: 18px;
      margin: 0 0 12px 0; }
    .page .material .metadata {
      margin: 0 5% 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #e5e5e5; }
      .page .material .metadata ol {
        margin: -4px 0 12px 0; }
        .page .material .metadata ol li {
          line-height: 1.5em;
          font-style: italic; }
      .page .material .metadata .taglist {
        display: inline-block;
        vertical-align: middle; }
      .page .material .metadata:last-child {
        border-bottom: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px; }
    .page .material .description {
      line-height: 1.4;
      margin: 0 5%; }
      .page .material .description p:first-child {
        margin-top: 0; }
      .page .material .description .image {
        max-width: 90%;
        text-align: center;
        margin: auto; }
        .page .material .description .image img {
          max-width: 100%; }
        .page .material .description .image p {
          margin-top: 0;
          text-align: left; }
    .page .material button, .page .material .button {
      display: inline-block;
      text-decoration: none;
      padding: 1% 14px;
      font-size: 1.2em;
      background: #CE872D;
      color: #fcf7d1;
      border: 0px;
      cursor: pointer;
      border-radius: 2px;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
      will-change: box-shadow; }
      .page .material button:hover, .page .material .button:hover {
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

/*# sourceMappingURL=style.css.map */
