/* This whole puppy was done up by Shauvon McGill - smcgill@denyconformity.com */
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  width: 100%; }

@-webkit-keyframes shake {
  0%, 100% {
    transform: translateX(0px); }
  10%, 50%, 90% {
    transform: translateX(20px); }
  30%, 70% {
    transform: translateX(-20px); } }

@-moz-keyframes shake {
  0%, 100% {
    transform: translateX(0px); }
  10%, 50%, 90% {
    transform: translateX(20px); }
  30%, 70% {
    transform: translateX(-20px); } }

@-ms-keyframes shake {
  0%, 100% {
    transform: translateX(0px); }
  10%, 50%, 90% {
    transform: translateX(20px); }
  30%, 70% {
    transform: translateX(-20px); } }

@keyframes shake {
  0%, 100% {
    transform: translateX(0px); }
  10%, 50%, 90% {
    transform: translateX(20px); }
  30%, 70% {
    transform: translateX(-20px); } }

@-webkit-keyframes bubble_in {
  0% {
    transform: translateX(20px) scaleX(0) scaleY(0);
    opacity: 0; }
  100% {
    transform: translateX(0px) scaleX(1) scaleY(1);
    opacity: 1; } }

@-moz-keyframes bubble_in {
  0% {
    transform: translateX(20px) scaleX(0) scaleY(0);
    opacity: 0; }
  100% {
    transform: translateX(0px) scaleX(1) scaleY(1);
    opacity: 1; } }

@-ms-keyframes bubble_in {
  0% {
    transform: translateX(20px) scaleX(0) scaleY(0);
    opacity: 0; }
  100% {
    transform: translateX(0px) scaleX(1) scaleY(1);
    opacity: 1; } }

@keyframes bubble_in {
  0% {
    transform: translateX(20px) scaleX(0) scaleY(0);
    opacity: 0; }
  100% {
    transform: translateX(0px) scaleX(1) scaleY(1);
    opacity: 1; } }

@-webkit-keyframes spin {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(359deg); } }

@-moz-keyframes spin {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(359deg); } }

@-ms-keyframes spin {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(359deg); } }

@keyframes spin {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(359deg); } }

@keyframes loadingSpin {
  to {
    transform: translateY(-15em); } }

html {
  background: #f5f5f5; }

body {
  font-family: "Lato", sans-serif;
  color: #606060; }

a {
  color: #d32f2f; }
  a:visited {
    color: #d32f2f; }
  a.active {
    color: #64b5f6;
    text-decoration: none; }

h2, h3, h4, h5, p, button, textarea, .content-item {
  margin: 8px 0; }

p {
  line-height: 1.1; }

hr {
  margin: 24px 0;
  border: 0px;
  height: 1px;
  background: rgba(96, 96, 96, 0.5); }

img {
  max-width: 100%; }

ul {
  list-style-type: disc;
  padding: 0 24px; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

.light {
  font-weight: 300; }

my-app {
  z-index: 2;
  overflow: hidden;
  position: relative;
  display: block; }

input, textarea {
  display: block;
  background: none;
  border-width: 0 0 1px 0;
  border-color: #606060;
  padding: 16px 0 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 16px;
  position: relative;
  transition: border-color 300ms;
  color: #606060;
  font-family: "Lato", sans-serif; }
  input:focus, textarea:focus {
    outline: none;
    border-color: #d32f2f; }
  input.inline-block, textarea.inline-block {
    display: inline-block;
    width: auto; }

input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 16px; }

label {
  color: #606060;
  margin: 8px 0; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #606060;
  opacity: 0.5; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #606060;
  opacity: 0.5; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #606060;
  opacity: 0.5; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #606060;
  opacity: 0.5; }

form h3 {
  font-size: 1.8em;
  color: #d32f2f; }

form .section {
  margin: 24px 0; }

form > input:first-child {
  margin-top: 0px; }

form .error {
  margin: 8px 0;
  text-align: center; }

.error {
  color: darkred; }
  .errorselect {
    border-color: darkred; }

.iplus {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("/app/images/iplus.png") no-repeat; }

.loading-icon, .loading-icon-shadow {
  position: absolute;
  display: block;
  width: 55px;
  height: 55px;
  top: 35%;
  left: 50%;
  margin: -27px 0 0 -27px;
  z-index: 2;
  animation: spin 1000ms 1000ms infinite; }
  .loading-icon .small-face, .loading-icon-shadow .small-face {
    fill: #d32f2f;
    stroke: #64b5f6; }

.loading-icon-shadow {
  z-index: 1;
  width: 85px;
  height: 125px;
  margin: -27px 0 0 -37px;
  transform-origin: 37px 40px 0px; }
  .loading-icon-shadow .small-face {
    fill: rgba(0, 0, 0, 0.3);
    stroke: none; }

#siteLoader {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000; }

#cornerLogo {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  text-indent: -9999em;
  width: 100%;
  height: auto;
  text-align: right; }
  #cornerLogo img {
    max-width: 100%; }

.backdrop {
  position: fixed;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  z-index: 4000;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1), right 0ms 400ms; }
  .backdrop.show {
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    right: 0px;
    opacity: 1; }

.clearfix {
  clear: both; }

.invisible {
  visibility: hidden !important; }

.hide {
  display: none !important; }

.clickable {
  cursor: pointer; }

.dull {
  opacity: 0.5; }

.block {
  margin-bottom: 24px; }

.right {
  text-align: right; }

.scroll {
  overflow: auto; }
  .scroll:after {
    position: absolute;
    right: -10px;
    bottom: 0;
    left: 10px;
    z-index: 5;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.4); }

.list {
  padding: 0; }
  .list .item {
    padding: 16px;
    border-bottom: 1px solid rgba(96, 96, 96, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center; }
    .list .item:last-child {
      border-bottom: 0px; }
    .list .item .badge {
      font-size: 24px;
      padding-right: 16px; }
      .list .item .badge i {
        text-align: center;
        width: 24px;
        height: 24px; }
    .list .item .metadata {
      overflow: hidden; }
      .list .item .metadata .row {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .list .item .metadata .row:first-child {
          margin-bottom: 8px; }
        @media only screen and (max-width: 500px) {
          .list .item .metadata .row > *:last-child {
            display: none; } }
      .list .item .metadata h5 {
        margin: 0 48px 0 0;
        white-space: nowrap;
        font-size: 16px;
        font-weight: bold; }
      .list .item .metadata .ellipsise {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px; }
        .list .item .metadata .ellipsise p {
          display: inline-block;
          margin: 0; }
        .list .item .metadata .ellipsise ul, .list .item .metadata .ellipsise ol, .list .item .metadata .ellipsise blockquote {
          display: none; }
      .list .item .metadata span {
        margin: 0 16px 0 0; }

.metadata > span {
  display: inline-block;
  vertical-align: middle;
  margin: 4px 0;
  line-height: 18px; }
  .metadata > span:last-child {
    border-right: 0px;
    margin-right: 0px;
    padding-right: 0px; }
  .metadata > span.bullet:after {
    content: "\2022";
    margin: 0 4px; }

.metadata i {
  width: 16px;
  height: 14px;
  text-align: center;
  display: inline-block; }
  .metadata i.fa-sort-down {
    transform-origin: 50% 75%;
    transition: transform 100ms cubic-bezier(0.35, 0, 0.25, 1);
    position: relative;
    top: -2px; }
    .metadata i.fa-sort-down.open {
      transform: rotateZ(180deg); }

.taglist {
  padding: 0; }
  .taglist li {
    display: inline-block;
    margin: 2px;
    padding: 2px 5px;
    background: #d32f2f;
    color: #FFFFFF;
    border-radius: 4px;
    position: relative;
    font-size: 13px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); }
    .taglist li .fa {
      font-size: 0.9em;
      line-height: 14px; }
    .taglist li.flat {
      background: none;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
      color: #d32f2f;
      opacity: 0;
      transition: opacity 200ms; }
    .taglist li input {
      padding: 0;
      border: 0;
      margin: 0 2px;
      width: 100px;
      font-size: 13px;
      display: inline-block;
      color: #FFFFFF; }
    .taglist li .tag-hints {
      position: absolute;
      top: 100%; }
      .taglist li .tag-hints li {
        display: block;
        margin: 4px;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        margin-left: 14px; }
  .taglist:hover .flat {
    opacity: 1; }

.left-bracket,
.right-bracket {
  position: absolute;
  top: 24px;
  bottom: 24px;
  z-index: 5;
  border: 1px solid #606060;
  width: 8.7%; }
  .left-bracket h1,
  .right-bracket h1 {
    font-size: 18px;
    padding: 0 16px;
    background: #FFFFFF;
    transform: translateY(-55%); }

.left-bracket {
  left: 24px;
  border-right-width: 0px; }
  .left-bracket h1 {
    position: absolute;
    top: 0;
    left: 24px; }
  @media only screen and (max-width: 500px) {
    .left-bracket {
      left: 12px; }
      .left-bracket h1 {
        display: none; } }

.right-bracket {
  right: 24px;
  border-left-width: 0px; }
  .right-bracket h1 {
    position: absolute;
    top: 0;
    right: 24px;
    font-style: italic;
    font-weight: bold;
    white-space: nowrap; }
  @media only screen and (max-width: 500px) {
    .right-bracket {
      right: 12px; }
      .right-bracket h1 {
        right: 24px; } }

@media only screen and (max-width: 500px) {
  my-app > .left-bracket,
  my-app > .right-bracket {
    display: none; } }

.curtain {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 25vh;
  background: #64b5f6;
  background: -moz-linear-gradient(top, #B6DCFB 12px, #64b5f6 86.4px);
  background: -webkit-linear-gradient(top, #B6DCFB 12px, #64b5f6 86.4px);
  background: linear-gradient(to bottom, #B6DCFB 12px, #64b5f6 86.4px); }
  .curtain img {
    width: 100%; }

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: #64b5f6; }

.page {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  padding: 48px 8.7% 8.7%; }
  @media only screen and (max-width: 500px) {
    .page {
      padding: 48px 16px 8.7%; } }
  .page .curtain {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 25vh;
    background: #64b5f6;
    background: -moz-linear-gradient(top, #B6DCFB 12px, #64b5f6 86.4px);
    background: -webkit-linear-gradient(top, #B6DCFB 12px, #64b5f6 86.4px);
    background: linear-gradient(to bottom, #B6DCFB 12px, #64b5f6 86.4px); }
  .page .paper-label {
    font-size: 16px;
    padding: 16px;
    margin: 0 26px;
    position: relative;
    z-index: 2; }
    @media only screen and (max-width: 500px) {
      .page .paper-label {
        margin: 0 14px; } }
  .page .paper {
    border-radius: 2px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background: #FFFFFF;
    padding: 16px;
    position: relative;
    z-index: 2;
    margin: 0 26px 16px; }
    @media only screen and (max-width: 500px) {
      .page .paper {
        margin: 0 0 16px; } }
    .page .paper:first-child {
      margin-top: 7.5vh; }
    .page .paper.list {
      padding: 0; }
    .page .paper.has-brackets {
      padding: 48px 64px; }
      @media only screen and (max-width: 500px) {
        .page .paper.has-brackets {
          padding: 48px 52px; } }
    .page .paper > :not(.left-bracket):not(.right-bracket) {
      position: relative;
      z-index: 6; }
    .page .paper h4 {
      font-size: 28px; }
    .page .paper h5 {
      font-size: 18px; }
    .page .paper .description, .page .paper .description p {
      line-height: 1.25; }
  .page.fullbg .paper:first-child {
    margin-top: 0; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 8.7%;
  bottom: 0;
  left: 8.7%;
  z-index: 1;
  height: 48px;
  padding: 0 24px;
  font-size: 13px;
  font-weight: 300; }
  footer a {
    color: #606060; }

dashboard .page .paper-label {
  padding: 48px 16px;
  font-size: 32px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
