<div class="dialog" *ngIf="checking" [@dialog]>

    <div class="dialog-content">
        <h3>Checking...</h3>

        <p>Stand by while we make sure your link is still valid.</p>
    </div>

</div>

<div class="dialog" *ngIf="valid" 
    [class.shake]="error" [@dialog]>

    <form class="block" name="passwordReset" (ngSubmit)="submitPassword()" #passwordForm="ngForm">
        <div class="dialog-content">
            <h3>Change Your Password</h3>

            <input name="password" formInput [asterisk]="false"
                [(ngModel)]="password" required type="password" placeholder="Password" />

            <input name="confirmPassword" formInput [asterisk]="false"
                [(ngModel)]="confirmPassword" required type="password" placeholder="Confirm Password" />

            <div class="error" *ngIf="error" [innerHTML]="error"></div>
        </div>

        <div class="button-group" *ngIf="!isPosting">
            <a routerLink="/welcome" class="button">Cancel</a>
            <input type="submit" class="button raised" value="Submit" [disabled]="!passwordForm.form.valid" />
        </div>

        <div class="button-group" *ngIf="isPosting">
            <div class="button"><i class="loading"></i></div>
        </div>
    </form>

</div>

<div class="dialog" *ngIf="!valid" [@dialog]>

    <div class="dialog-content">
        <h3>Invalid Token</h3>

        <p>The link you used is either expired or broken. Please try again. Have a nice day, dude.</p>
    </div>

    <div class="button-group">
        <a routerLink="/welcome" class="button">Okay Bye</a>
    </div>

</div>