@import "vars";
@import "./mixins/elevation";

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
    position: relative;
    z-index: 3;

    .card {
        flex-grow: 1;
        display: inline-block;

        padding: $std;
        background: $color-white;
        margin: $std;
        border-radius: $border-radius;
        position: relative;
        max-width: 46%;
        box-sizing: border-box;
        @include md-elevation($card-elevation-default);
        @include md-elevation-transition;

        &.flat {
            @include md-elevation(0);
        }

        color: $color-text;
        text-decoration: none;

        @media #{$media-mobile} {
            display: block;
            width: 90%;
            max-width: 90%;
            box-sizing: border-box;
        }

        &.clickable:hover {
            @include md-elevation($card-elevation-active);
        }

        &.small {
            max-width: 275px;
        }

        .top {
            margin: -$std;
            margin-bottom: 0;
            position: relative;
            color: $color-white;
            background: $color-text;
            box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.2) inset,
                        0px 8px 20px 1px rgba(0, 0, 0, 0.14) inset,
                        0px 3px 24px 2px rgba(0, 0, 0, 0.12) inset;
            
            &:before {
                content: "";
                display: block;
                width: 100%;
                padding-top: 60%;
            }

            h3 {
                @include abs(null, null, 0, 0);
                padding: $large;
                font-size: 1.5em;
            }

            em {
                @include abs($small, $small, null, null);
                font-size: 0.7em;
                opacity: 0.5;
            }

            .fa {
                @include abs($large, $large);
                font-size: $icon-size;
            }
        }

        .body {
            margin: 0 (-$std);
            padding: $large;
        }

        .action {
            margin: 0 (-$std) (-$std);
            padding: $small 0;
            border-top: 1px solid $color-hr;

            .button:first-child {
                margin-left: $small;
            }
        }

        &.red {
            .top {
                background-color: $color-red;
            }
        }

        &.blue {
            .top {
                background-color: $color-blue;
            }
        }

        &.orange {
            .top {
                background-color: $color-orange;
            }
        }

        &.yellow {
            .top {
                background-color: $color-yellow;
            }
        }

        $bracket-thickness: 10px;

        &.brackets {
            text-align: center;
            //border: $bracket-width solid $color-text;
            padding: $large ($std * 2);

            &:before {
                content: "";
                @include abs($bracket-thickness, null, $bracket-thickness, $bracket-thickness, 1);
                border-width: $bracket-thickness 0 $bracket-thickness $bracket-thickness;
                border-color: $color-text;
                border-style: solid;
                width: $bracket-thickness + $std;
                transition: width 200ms;
            }

            &:after {
                content: "";
                @include abs($bracket-thickness, $bracket-thickness, $bracket-thickness, null, 1);
                border-width: $bracket-thickness $bracket-thickness $bracket-thickness 0;
                border-color: $color-text;
                border-style: solid;
                width: $bracket-thickness + $std;
                transition: width 200ms;
            }

            h4 {
                font-size: 34px;
                transition: color 200ms;
                margin-top: $large;
            }
            p {
                font-size: 19px;
                margin: $large 0;
                font-weight: 300;
            }

            &:hover {
                &:before {
                    width: $bracket-thickness + $large;
                }
                &:after {
                    width: $bracket-thickness + $large;
                }
            }

            &.red {
                &:after,
                &:before {
                    border-color: $color-red;
                }
            }

            &.blue {
                &:after,
                &:before {
                    border-color: $color-blue;
                }
            }

            &.orange {
                &:after,
                &:before {
                    border-color: $color-orange;
                }
            }

            &.yellow {
                &:after,
                &:before {
                    border-color: $color-yellow;
                }
            }
        }
    }

    &.span3 {
        .card {
            max-width: 30%;
        }
    }

    // .paper & {
    //     .card {
    //         @include md-elevation(0);
    //     }
    // }
}