footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include abs(null, $page-bracket-width, 0, $page-bracket-width, 1);
    height: $toolbar-height;
    padding: 0 ($toolbar-height / 2);
    font-size: 13px;
    font-weight: 300;

    a {
        color: $color-text;
    }
}