login {
    .login-form {
        max-width: 300px;

        &.shake {
            animation: shake $anim-duration both;
        }

        &.runaway {
            position: relative;
            animation: runaway 3000ms 2s both, runaway-motion 3s 2s both linear;
        }
    }

    .fa-star {
        position: absolute;
        color: $color-white;
        top: 50%;
        margin-left: 50%;
        font-size: 72px;
        left: -45px;
        transform: translateX(12px) translateY(-112px) scale(0);
        margin-top: -45px;
        transform-origin: 50% 50%;

        &.starburst {
            animation: starburst 1500ms 5500ms both linear;
        }
    }
}

user {
    .user-form {
        max-width: 500px;
    }
}

@include keyframes (starburst) {
    0% {
        transform: translateX(12px) translateY(-112px) scale(0) rotateZ(0);
    }
    50% {
        transform: translateX(12px) translateY(-112px) scale(1) rotateZ(180deg);
    }
    100% {
        transform: translateX(12px) translateY(-112px) scale(0) rotateZ(360deg);
    }
}
@include keyframes (runaway) {
    0% {
        transform: scale(1) rotateZ(0);
    }
    100% {
        transform: scale(0) rotateZ(560deg);
    }
}
@include keyframes (runaway-motion) {
    0% {
        left: 0px;
        top: 0px;
    }
    10% {
        left: 18px;
        top: 27px;
    }
    20% {
        left: 39px;
        top: 46px;
    }
    25% {
        left: 54px;
        top: 52px;
    }
    30% {
        left: 69px;
        top: 56px;
    }
    35% {
        left: 87px;
        top: 51px;
    }
    40% {
        left: 99px;
        top: 45px;
    }
    50% {
        left: 119px;
        top: 27px;
    }
    55% {
        left: 129px;
        top: 9px;
    }
    60% {
        left: 132px;
        top: -6px;
    }
    65% {
        left: 126px;
        top: -27px;
    }
    70% {
        left: 119px;
        top: -37px;
    }
    80% {
        left: 91px;
        top: -66px;
    }
    90% {
        left: 54px;
        top: -91px;
    }
    100% {
        left: 12px;
        top: -112px;
    }
}