// colors!
$color-primary: #d32f2f; // the primary color for the app!
$color-primary-text: #FFFFFF; // color for text when shown on top of the primary color

$color-secondary: #64b5f6; // the color for various components

$color-active: $color-secondary; // active links and buttons
$color-active-bg: #ededed; 

$color-bg: #f5f5f5; // the main window background
$color-white: #FFFFFF;
$color-black: #000000;

$color-shade: rgba(0,0,0,0.2); // the color for fullscreen 'shade' elements

$color-text: #606060; // primary text color
$color-hr: rgba(96,96,96,0.5); // color for dividers
$color-hr-light: rgba(96,96,96,0.1);

$color-home-bg-black: rgba(0,0,0,0.3);
$color-home-bg-white: rgba(255,255,255,0.3);

$color-curtain: #CCCCCC; // the color for the app background (or curtain for paper-style pages)
$color-curtain-fade: #e5e5e5; // the color that fades in at the top of the screen

$color-transparent: rgba(0,0,0,0); //utility!

$color-red: #d32f2f;
$color-orange: #ffa70f; // Speaker's Studio Orange!
$color-yellow: #F9D423; // yellow!
$color-blue: #64b5f6;

// FONT
$font-family: 'Lato', sans-serif !default;

$font-size-toolbar: 18px;
$font-size-input: 16px;
$font-size-nav: 14px;

// timings!
$anim-duration: 300ms;


// elevations
$raised-button-elevation: 2;
$raised-button-pressed-elevation: 8;
$card-elevation-default: 2;
$card-elevation-active: 8;
$toolbar-elevation: 4;
$nav-elevation: 16;
$dialog-elevation: 24;


// spacing
$std: 16px;
$small: 8px;
$large: 24px;

$border-radius: 2px;

$fab-width: 56px;
$icon-size: 24px;

$curtain-height: 25vh;
$page-bracket-width: 8.7%;

// BITS!
$dropdown-max-height: 337px;

// buttons
$button-height: 36px;
$button-min-width: 88px;

$fab-width: 56px;
$fab-icon-size: 24px;

// tags
$tag-spacing: 2px;
$tag-padding-vertical: 2px;
$tag-padding-horizontal: 5px;
$tag-border-radius: $border-radius * 2;

// toolbar
$toolbar-height: 48px;
$toolbar-font-weight: 400;
$toolbar-padding: $std;
//$toolbar-icon-spacing: 1%;

// search
$search-padding: 47px;
$search-margins: $small;
$search-height: $toolbar-height - ($search-margins * 2);
$search-results-max-height: ($search-height * 9) + ($search-margins * 2);