<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"
    ></div>

<div class="page">

    <div class="paper has-brackets">

        <div class="content">
            <h4 class="right">Help</h4>

            <p>The help page isn't built yet. That's kind of funny, when you think about it. However, if there's something specific you need help with, feel free to sends us a message explaining (to the best of your ability) what you need help with. That way we can be sure to get the most helpful information possible when we do get around to building this page.</p>

            <div class="center section">
                <a routerLink="/app/contact/featurerequest" class="button brackets">Contact Us</a>
            </div>
        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1></h1></div>
    </div>

</div>