<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [title]="title"
    *ngIf="!injected"
    ></div>

<div [class.page]="!injected">

    <div class="blackbox center">
        <h2><span class="light">not</span> <strong>found</strong></h2>

        <p>Whatever you were looking for? It's not there, dude.</p>

        <p>
            <img src="/images/bogus.gif" />
        </p>

        <div class="columns">
            <a (click)="goback()" class="button brackets">Go Back</a>

            <a (click)="dashboard()" class="button brackets" *ngIf="_app.user">Dashboard</a>
        </div>
    </div>

</div>