<div class="toolbar"
    [title]="title"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    (toolClicked)="onToolClicked($event)"
    [showBack]="user.memberOfTeams.length + user.adminOfTeams.length > 1"
    (goBack)="goBack()"
    ></div>

<div class="page">

    <div class="tabs">
        <span class="tab" 
            *ngFor="let tab of tabs"
            [class.active]="tab.id == selectedTab"
            (click)="selectTab(tab)">
            <i class="fa fa-{{tab.icon}}"></i>
            <span>{{tab.name}}</span>
        </span>
    </div>

    <!-- team details -->
    <div class="paper has-brackets" *ngIf="selectedTab == 'team'">

        <div class="content" *ngIf="team">

            <h4 class="right improvplus-editable-metadata"
                [text]="team.name"
                [blankText]="'The Company with No Name'"
                [canEdit]="can('team_edit')"
                (save)="saveEditName($event)"></h4>

            <div class="metadata horizontal">

                <span class="bullet improvplus-editable-metadata"
                    [text]="team.phone"
                    [blankText]="'No Phone Number'"
                    [icon]="'phone'"
                    [canEdit]="can('team_edit')"
                    (save)="saveEditPhone($event)"></span>

                <span class="bullet improvplus-editable-metadata"
                    [text]="team.email"
                    [blankText]="'No Email'"
                    [icon]="'envelope'"
                    [canEdit]="can('team_edit')"
                    (save)="saveEditEmail($event)"></span>

                <span class="bullet improvplus-editable-metadata"
                    [text]="team.url"
                    [blankText]="'No URL'"
                    [icon]="'link'"
                    [canEdit]="can('team_edit')"
                    (save)="saveEditURL($event)"></span>

                <span class="bullet improvplus-editable-metadata"
                    [text]="team.company"
                    [blankText]="'No Company'"
                    [icon]="'building'"
                    [canEdit]="can('team_edit')"
                    (save)="saveEditCompany($event)"></span>

                <span class="improvplus-editable-metadata"
                    [address]="team.address"
                    [city]="team.city"
                    [state]="team.state"
                    [zip]="team.zip"
                    [country]="team.country"
                    [type]="'address'"
                    [blankText]="'No Address'"
                    [canEdit]="can('team_edit')"
                    (saveAddress)="saveEditAddress($event)"></span>

            </div>

            <hr />

            <div class="description" 
                [innerHTML]="descriptionHtml"
                *ngIf="!editDescriptionShown"></div>

            <textarea name="description"
                class="description"
                [(ngModel)]="newDescriptionText" 
                *ngIf="editDescriptionShown"></textarea>

            <div class="button-group" *ngIf="can('team_edit')">
                <div class="button" *ngIf="!editDescriptionShown" (click)="showEditDescription()">Edit Description</div>
                
                <label class="left" *ngIf="editDescriptionShown">Hey! We support <a href="http://www.markdowntutorial.com/" target="_blank">Markdown</a>!</label>
                <div class="button" *ngIf="editDescriptionShown" (click)="cancelDescription()">cancel</div>
                <div class="button raised" *ngIf="editDescriptionShown" (click)="saveDescription()">SAVE</div>
            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>team details</h1></div>
    </div>

    <!-- member list -->
    <div class="paper has-brackets" *ngIf="selectedTab == 'members'">

        <div class="content" *ngIf="team && subscription">
            <div class="list">
                <div class="item improvplus-user-card clickable" *ngFor="let user of [].concat(team.admins, team.members)"
                    [user]="user"
                    [team]="team"
                    [class.selected] = "user === selectedUser"
                    (click)="selectUser(user)"
                    (removeUserFromTeam)="removeUserFromTeam($event)"
                    (promoteUser)="promoteUser($event)"
                    (demoteUser)="demoteUser($event)">
                </div>

                <div class="item clickable" *ngFor="let invite of [].concat(subscription.subscriptionInvites, subscription.invites)"
                    [class.selected] = "invite === selectedInvite"
                    (click)="selectInvite(invite)">

                    <div class="badge text-orange">
                        <i class="fa fa-envelope-open-o" *ngIf="!invite.inviteUser" title="We sent an email for this new user to sign up."></i>
                        <i class="fa fa-user" *ngIf="invite.inviteUser" title="This is already a user on ImprovPlus."></i>
                    </div>

                    <div class="metadata">
                        <div class="row" *ngIf="!invite.inviteUser">
                            <h5>{{invite.email}}</h5>
                        </div>
                        <div class="row" *ngIf="invite.inviteUser">
                            <h5>{{invite.inviteUser.firstName ? invite.inviteUser.firstName + ' ' + invite.inviteUser.lastName : invite.email}}</h5>
                            <em *ngIf="userService.isExpired(invite.inviteUser)">Will use Company's Subscription</em>
                            <em *ngIf="!userService.isExpired(invite.inviteUser)">Has their own Subscription</em>
                        </div>

                        <div class="row">
                            <span><i class="fa fa-clock-o"></i> Invite sent: {{_timeUtil.simpleDate(invite.date)}}</span>
                        </div>
                    </div>

                    <div class="action">
                        <div class="button" title="Cancel this invitation?!" *ngIf="isUserAdmin()" (click)="cancelInvite(invite)"><i class="fa fa-times"></i></div>
                    </div>
                </div>
            </div>

            <div class="right">
                <p>Total Users: <span class="tag grey">{{team.admins.length + team.members.length}}</span></p>

                <div *ngIf="isUserAdmin()" class="right">
                    <p *ngIf="pendingInvites">Pending Subscription Invites: <span class="tag orange">{{pendingInvites}}</span></p>
                    <p>Remaining User Subscriptions: <span class="tag">{{remainingSubs}} of {{team.subscription.subscriptions}}</span></p>

                    <p *ngIf="remainingSubs > 0">You can invite {{remainingSubs}} more of your Company to join ImprovPlus.</p>
                    <p *ngIf="remainingSubs == 0">You have no more free invites, but you can buy additional user subscriptions or invite users with their own subscriptions.</p>

                    <div class="button-group">
                        <div class="button" (click)="leave()">Leave Company</div>
                        <div class="button" (click)="buySubscription()">Buy Subscriptions</div>
                        <div class="button raised" (click)="invite()">Invite Someone</div>
                    </div>
                </div>

                <div *ngIf="!isUserAdmin()" class="right">
                    <div class="button-group">
                        <div class="button" (click)="leave()">Leave Company</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>members</h1></div>
    </div>
    
    <!-- team subscription -->
    <div class="paper has-brackets" *ngIf="team && team.subscription && selectedTab == 'subscription'">

        <div class="card-list">

            <div class="card">
                <div class="top">
                    <i class="fa fa-id-card-o"></i>
                    <div class="content">
                        <h4 class="light">{{team.name}}'s Subscription</h4>
                        <h4 class="light">Expires</h4>
                        <h3>{{getDate(team.subscription.expiration)}}</h3>
                    </div>
                </div>
                <div class="body">
                    <p>Activated {{getDate(team.subscription.start)}}</p>

                    <p *ngIf="pendingInvites">Pending Subscription Invites: <span class="tag orange">{{pendingInvites}}</span></p>
                    <p>Remaining User Subscriptions: <span class="tag">{{remainingSubs}} of {{team.subscription.subscriptions}}</span></p>
                </div>
                <!--<div class="action">
                    
                </div>-->
            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>team subscription</h1></div>
    </div>

    <!-- team purchases -->
    <div class="paper has-brackets" *ngIf="can('team_purchases_view') && selectedTab == 'purchases'">
        <div class="card-list">

            <div class="card"
                *ngFor="let purchase of purchases">

                <div class="top">
                    <i class="fa fa-users" *ngIf="purchase.team" title="This purchase was made for your team."></i>
                    <div class="content">
                        <h4 *ngIf="purchase.team">{{purchase.team.name}}</h4>
                        <h3>{{getDate(purchase.date)}}</h3>
                        <h4>{{getTime(purchase.date)}}</h4>
                    </div>
                </div>
                <div class="body">
                    <p>Made by {{purchase.user.firstName ? purchase.user.firstName + ' ' + purchase.user.lastName : purchase.user.email}}</p>

                    <div class="columns fill">
                        <div>---</div>
                    </div>

                    <div class="columns fill" *ngFor="let package of purchase.packages">
                        <span>{{package.package.name}}</span>
                        <span>${{package.price}}</span>
                    </div>
                    <div class="columns fill" *ngFor="let o of purchase.other">
                        <span>{{o.description}}</span>
                        <span>${{o.price}}</span>
                    </div>

                    <div class="columns fill">
                        <div>---</div>
                    </div>

                    <div class="columns fill">
                        <span>Total:</span>
                        <strong>${{purchase.total}}</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="dialog-container" [class.show]="showInviteDialog || showBuySubscriptionDialog">
    <div class="dialog-dismiss" (click)="cancelInviteDialog()"></div>

    <div class="dialog invite-form" *ngIf="showInviteDialog && !inviteStatus" [@dialog]="'default'">

        <form class="block" name="invite" (ngSubmit)="submitInvite()" #inviteForm="ngForm">
            <div class="dialog-content">
                <h2>Invite Someone to {{team.name}}</h2>
                
                <p>Enter the email address of a colleague you wish to invite into {{team.name}}, and we will invite them to join your Company.</p>
                
                <p *ngIf="remainingSubs > 0">If the email address is not already registered on ImprovPlus, this will use one of the available subscriptions on your Company profile.</p>

                <p *ngIf="remainingSubs == 0">Your Company is out of subscriptions, so any users you invite will need to already have their own subscription for you to invite them.</p>

                <input name="email" formInput [asterisk]="false" [(ngModel)]="inviteEmail" required type="text" placeholder="Email" />

                <span class="error" *ngIf="inviteError">{{inviteError}}</span>

            </div>

            <div class="button-group" *ngIf="!isPosting">
                <a (click)="cancelInviteDialog()" class="button">Cancel</a>
                <input type="submit" class="button raised" value="Send" [disabled]="!inviteForm.form.valid" />
            </div>

            <div class="button-group" *ngIf="isPosting">
                <div class="button"><i class="loading"></i></div>
            </div>
        </form>

    </div>

    <div class="dialog invite-form" *ngIf="showInviteDialog && inviteStatus=='new'" [@dialog]="'default'">

        <div class="dialog-content">
            <h2>Invite Sent!</h2>

            <p>Your invite is on its way. When your colleague has accepted your invitation, they will take one of {{team.name}}'s user subscriptions. We will let you know when this happens. You can also check the status of your invite (and cancel it) here on your Company's profile.</p>
        </div>

        <div class="button-group">
            <a (click)="cancelInviteDialog()" class="button">Okay Bye</a>
        </div>

    </div>

    <div class="dialog invite-form" *ngIf="showInviteDialog && inviteStatus=='exists'" [@dialog]="'default'">

        <div class="dialog-content">
            <h2>Invite Sent!</h2>

            <p>Good news! That email address is registered to an active subscription already, so they will be able to join your team without using any of your user subscriptions. We will let you know when this happens. You can also check the status of your invite (and cancel it) here on your Company's profile.</p>
        </div>

        <div class="button-group">
            <a (click)="cancelInviteDialog()" class="button">Okay Bye</a>
        </div>

    </div>

    <!-- the purchase subscription process -->
    <div class="dialog" *ngIf="showBuySubscriptionDialog" [@dialog]="'default'">

        <form class="block" name="invite" (ngSubmit)="submitBuySubscriptions()" #purchaseForm="ngForm">
            <div class="dialog-content">
                <h2>Buy Subscriptions for {{team.name}}</h2>
                
                <p>Buying more subscriptions will allow you to invite even more of your teammates to collaborate with you. These subscriptions will be renewed along with your Company.</p>

                <p>You currently have {{remainingSubs}} subscriptions to use.</p>
                
                <div class="columns centered">
                    <input name="buySubCount" formInput [asterisk]="false" [(ngModel)]="buySubCount" required type="text" placeholder="How many more do you need?" />
                    <span>x ${{subscriptionPrice}}</span>
                </div>
            </div>

            <div class="button-group" *ngIf="!isPosting">
                <a (click)="cancelBuySubscriptionDialog()" class="button">Cancel</a>
                <input type="submit" class="button raised" value="Next" [disabled]="!purchaseForm.form.valid" />
            </div>
        </form>

    </div>

    <div class="dialog" *ngIf="showBuySubscriptionCC" [@dialog]="'default'">

        <div class="dialog-content">
            <h2>Buy Subscriptions for {{team.name}}</h2>
            
            <div id="card-element">
            <!-- a Stripe Element will be inserted here. -->
            </div>
        </div>

        <div class="button-group" *ngIf="!isPosting">
            <a (click)="cancelBuySubscriptionDialog()" class="button">Cancel</a>
            <input type="submit" (click)="doBuySubscriptions()" class="button raised" value="Buy" [disabled]="!cardComplete" />
        </div>

        <div class="button-group" *ngIf="isPosting">
            <div class="button"><i class="loading"></i></div>
        </div>

    </div>

</div>