<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"
    ></div>

<div class="page">

    <div class="paper has-brackets">

        <div class="content">

            <div class="columns responsive">
                <iframe class="card nopadding" width="560" height="315" src="https://www.youtube.com/embed/KmCsoGrz5QI" frameborder="0" allowfullscreen></iframe>
                <iframe class="card nopadding" width="560" height="315" src="https://www.youtube.com/embed/wy5N9CljB2Y" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>videos</h1></div>
    </div>

</div>