<div class="landing" (window:resize)="setupSize()">

    <div class="background">
        <img [style.width]="bgwidth + 'px'" [style.height]="bgheight + 'px'" [style.left]="-bgleft + 'px'" [style.top]="-bgtop + 'px'" src="/images/home-background.png" />
        <div id="player"></div>
    </div>

    <i class="iplus white ng-iplus" *ngIf="!_app.loaderVisible"></i>

    <div class="content">
        <h1><span class="light">improv</span><strong>plus</strong></h1>
        <h2>Adding new dimension to talent development.</h2>

        <a class="button brackets" (click)="showGetNotified()">Get Notified</a>
    </div>

    <i class="fa fa-chevron-down clickable" (click)="scrollBelowLanding()"></i>

</div>

<div class="page">

    <div class="paper center">

        <h4>IMPROV + TRAINING = <span class="light">improv</span><strong>plus</strong></h4>

        <p><em>ImprovPlus will be launched by The Speaker’s Studio in June of 2017.</em></p>

        <p>Improv is an incredible flexible and dynamic tool. But how do you use it? How do you introduce it?</p>

        <p>Welcome to ImprovPlus - our most popular Improv workshops distilled into comprehensive guides for Facilitators and Trainers to use.</p>

        <p>We walk you through the activities, the agenda, the questions, and the discussion that will bring out the best in your team.</p>

        <p>Whether you are a new Trainer looking for accessible training guides or a seasoned Facilitator looking for a new approach we have a solution for you.

        <!--<ol>
            <li>You can hire us!  Bring us in to conduct a 90 minute or 3 hour ImprovPlus Training. Options include
                <br />
                ImprovPlus Networking<br />
                ImprovPlus Business<br />
                ImprovPlus Leadership
            </li>


            <li>You can download our ImprovPlus Facilitator Guide<br />
                You provide the Trainer/Facilitator we provide everything else. Our packages include  Handouts, Facilitator, Instructions,  Faciliator Tips, Discussion Guides, Agendas as well as access to our ImprovPlus Dashboard and Database. You can even sign-up for Facilitation support – 1:1 Coaching calls to support the success your trainings. 
            </li>
        </ol>-->

        <p>
            <a (click)="showGetNotified()" class="button brackets">Get Notified</a>
        </p>
    </div>

</div>

<div class="dialog-container" *ngIf="getNotifiedDialogVisible">
    <div class="dialog" [@dialog] *ngIf="!sent && !sending">

        <form name="getNotified" (ngSubmit)="submitGetNotified()" #getNotifiedForm="ngForm">
            <div class="dialog-content">
                <h2>Get Notified About <span class="light">improv</span><strong>plus</strong></h2>

                <div class="columns">
                    <input name="firstName" [(ngModel)]="firstName" required type="text" placeholder="First Name" />
                    <input name="lastName" [(ngModel)]="lastName" required type="text" placeholder="Last Name" />
                </div>

                <input name="email" [(ngModel)]="email" required type="text" placeholder="Email Address" />

                <div class="error" *ngIf="getNotifiedError" [innerHTML]="getNotifiedError"></div>
            </div>

            <div class="button-group" *ngIf="!sending">
                <div class="button" (click)="hideGetNotified()">Cancel</div>
                <input type="submit" class="button raised" value="SUBMIT" [disabled]="!getNotifiedForm.form.valid" />
            </div>

            <div class="button-group" *ngIf="sending">
                <div class="button"><i class="loading"></i></div>
            </div>
        </form>

    </div>

    <div class="dialog" [@dialog] *ngIf="sent">

        <div class="dialog-content center">
            <h2>Your Information has been Saved</h2>

            <p>You will be among the first to know when ImprovPlus is ready to change your world.</p>
        </div>

        <div class="button-group">
            <div class="button" (click)="hideGetNotified()">Done</div>
        </div>

    </div>
</div>