<div class="landing">

    <div class="background">
        <img [style.width]="bgwidth + 'px'" [style.height]="bgheight + 'px'" [style.left]="-bgleft + 'px'" src="/images/home-background.png" />
        <div id="player"></div>
    </div>

    <i class="iplus white"></i>

    <div class="content">
        <h1><span class="light">improv</span><strong>plus</strong></h1>
        <h2>Adding new dimension to talent development.</h2>

        <a href="#" class="button brackets">Get Notified</a>
    </div>

    <i class="fa fa-chevron-down clickable" (click)="scrollBelowLanding()"></i>

</div>

<div class="page">

    <div class="paper">
        <p class="center">ImprovPlus will be launched by The Speaker’s Studio in May of 2016.</p>
        
        <p>ImprovPlus combines Applied Improvisation with business training and talent development. We developed this offerings over the past 5 years. Working across the country with groups of different sizes, from different industries and at different levels of experience.</p>

        <p>Improv is an incredible flexible and dynamic tool. But how do you use it? How do you introduce it?</p>
        
        <p>ImprovPlus offers a number of Talent Development and Training options.</p>

        <ol>
            <li>You can hire us!  Bring us in to conduct a 90 minute or 3 hour ImprovPlus Training. Options include
                <br />
                ImprovPlus Networking<br />
                ImprovPlus Business<br />
                ImprovPlus Leadership
            </li>


            <li>You can download our ImprovPlus Facilitator Guide<br />
                You provide the Trainer/Facilitator we provide everything else. Our packages include  Handouts, Facilitator, Instructions,  Faciliator Tips, Discussion Guides, Agendas as well as access to our ImprovPlus Dashboard and Database. You can even sign-up for Facilitation support – 1:1 Coaching calls to support the success your trainings. 
            </li>
        </ol>

        <p class="center">
            <a href="#" class="button brackets">Get Notified</a>
        </p>
    </div>

</div>
