 <div class="card-list" *ngIf="visibleMessage" [@shrinkHeight]>

    <div class="card full brackets center" bracketCard #dashboardMessage *ngIf="visibleMessage.body">

        <h4>{{visibleMessage.title}}</h4>

        <div [innerHTML]="visibleMessage.body"></div>

        <div class="action right">
            <span class="button" (click)="dismissVisibleMessage()">Dismiss</span>
        </div>
        
    </div>
 
    <div class="card full brackets center" bracketCard #dashboardMessage *ngIf="visibleMessage.key == 'welcome'">

        <h4>welcome to <span class="light">improv</span><strong>plus</strong></h4>

        <p>This is your dashboard. Check back here for important messages, updates, and other stuff.</p>
        <p>Click the <iplus></iplus> logo in the top left corner to open the App Menu. From there you can get anywhere you want to be.</p>

        <div class="action right">
            <span class="button" (click)="dismissVisibleMessage()">Dismiss</span>
        </div>
        
    </div>
 
    <div class="card full brackets center" bracketCard #dashboardMessage *ngIf="visibleMessage.key == 'username'">

        <div class="content">
            <p>While we have you here, what can we call you?</p>

            <div class="columns responsive">
                <input name="first-name"
                    placeholder="First Name"
                    [(ngModel)]="firstName"
                    formInput
                    type="text" />
                <input name="last-name"
                    placeholder="Last Name"
                    [(ngModel)]="lastName"
                    formInput
                    type="text" />
            </div>

            <div class="action right">
                <span class="button pull-left" (click)="router.navigate(['/app/user'])">Edit your profile</span>
                <span class="button" (click)="dismissVisibleMessage()">Dismiss</span>

                <button class="button brackets" (click)="saveUserName()" [disabled]='!firstName || !lastName' *ngIf="!isPosting">Save</button>
                <span class="button" *ngIf="isPosting"><i class="loading"></i></span>
            </div>
        </div>
        
    </div>

 </div>