<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"
    [showBack]="selectedMaterial || selectedPackage"
    (goBack)="back()"
    (toolClicked)="onToolClicked($event)"
    ></div>

<div class="page">

    <div class="tabs" *ngIf="!selectedMaterial">
        <span class="tab" 
            *ngFor="let tab of tabs"
            [class.active]="tab.id == selectedTab"
            (click)="selectTab(tab)">
            <i class="fa fa-{{tab.icon}}"></i>
            <span>{{tab.name}}</span>
        </span>
    </div>

    <!-- Material Item List -->
    <div class="paper has-brackets" *ngIf="selectedTab == 'materials' && !selectedMaterial">

        <div class="content">

            <h4 class="right">All of the Material Items</h4>

            <div class="card-list">

                <div class="card small clickable {{material.color}}"
                    *ngFor="let material of materialItems"
                    (click)="selectMaterial(material)">

                    <div class="top">
                        <i *ngIf="material.versions[0] && material.versions[0].extension == 'pdf'" class="fa fa-file-pdf-o" title="PDF"></i>
                        <h3>{{material.name}}</h3>
                    </div>
                    <div class="body">
                        <p>{{material.description}}</p>
                        <ul class="taglist grey">
                            <li *ngFor="let tag of material.tags">{{tag}}</li>
                            <li *ngIf="!material.visible"><i class="fa fa-eye-slash"></i> Hidden!</li>
                            <li>{{material.versions.length}} version(s)</li>
                        </ul>
                    </div>
                    <!--<div class="action">
                        <a href="#" class="button">Download</a>
                    </div>-->
                </div>

                <div class="card small clickable" (click)="createMaterial()">
                    <div class="top">
                        <i class="fa fa-plus"></i>
                        <h3>Create New</h3>
                    </div>
                    <div class="body">
                        <p>Create a new Material Item</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>materials database</h1></div>
    </div>

    <!-- Edit Material Item -->
    <div class="paper has-brackets" *ngIf="selectedMaterial">

        <div class="content">

            <input name="name" formInput [(ngModel)]="selectedMaterial.name" type="text" placeholder="Name" />

            <textarea name="description" formInput placeholder="Description" [(ngModel)]="selectedMaterial.description" rows="4"></textarea>

            <div class="columns">
                <input name="price" formInput [(ngModel)]="selectedMaterial.price" type="text" placeholder="Price (no dollar sign, but decimals are okay)" />

                <input name="color" formInput [(ngModel)]="selectedMaterial.color" type="text" placeholder="Color (red, blue, orange, yellow, green)" />
            </div>

            <div class="columns">
                <input name="tags" formInput [(ngModel)]="selectedMaterial.tags" type="text" placeholder="Tags (comma-separated)" />
            </div>

            <div class="columns">
                <label class="checkbox">
                    <input type="checkbox" class="inline-block" name="visible" [checked]="selectedMaterial.visible" (change)="selectedMaterial.visible = !selectedMaterial.visible" />
                    Visible?
                </label>
            </div>

            <div class="section right">
                <div class="button" (click)="deleteMaterial()">Delete</div>
                <div class="button raised" (click)="saveMaterial()">Save</div>
            </div>

            <div class="section">

                <h5>Versions</h5>

                <div class="columns data-row centered" *ngIf="!selectedMaterial.versions.length">
                    <span><em>None!</em></span>
                </div>

                <div class="columns data-row centered" *ngFor="let version of selectedMaterial.versions">
                    <span class="fit">{{version.ver}}</span>
                    
                    <span>{{version.description || 'No description'}}</span>

                    <span class="fit nowrap">{{simpleDate(version.dateAdded)}}</span>

                    <span class="fit"><i class="fa fa-close clickable" (click)="deleteVersion(version)"></i></span>
                </div>

                <div class="section columns centered">
                    <label class="fit">
                        Version
                        <input name="ver" [(ngModel)]="newVersion.ver" type="text" placeholder="Ver" />
                    </label>

                    <label>Description
                        <textarea name="description" [(ngModel)]="newVersion.description" rows="2"></textarea>
                    </label>

                    <label class="fit">File
                        <input type="file" (change)="fileChange()" #versionFileInput name="newVersionFile" />
                    </label>
                </div>

                <div class="section right">
                    <div class="button raised" (click)="saveVersion()">Add Version</div>
                </div>

            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>materials database</h1></div>
    </div>


    <!-- Material Item List -->
    <div class="paper has-brackets" *ngIf="selectedTab == 'packages' && !selectedPackage">

        <div class="content">

            <h4 class="right">All of the Packages</h4>

            <div class="card-list">

                <div class="card small clickable {{package.color}}"
                    *ngFor="let package of packages"
                    (click)="selectPackage(package)">

                    <div class="top">
                        <h3>{{package.name}}</h3>
                    </div>
                    <div class="body">
                        <p>${{package.price}}</p>

                        <p *ngFor="let desc of package.description">{{desc}}</p>

                        <ul class="taglist grey">
                            <li *ngIf="!package.visible"><i class="fa fa-eye-slash"></i> Hidden!</li>
                            <li>{{package.materials.length + package.packages.length}} items</li>
                        </ul>
                    </div>
                    <!--<div class="action">
                        <a href="#" class="button">Download</a>
                    </div>-->
                </div>

                <div class="card small clickable" (click)="createPackage()">
                    <div class="top">
                        <i class="fa fa-plus"></i>
                        <h3>Create New</h3>
                    </div>
                    <div class="body">
                        <p>Create a new Package</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>package database</h1></div>
    </div>

    <!-- Edit Package -->
    <div class="paper has-brackets" *ngIf="selectedPackage">

        <div class="content">

            <input name="name" formInput [(ngModel)]="selectedPackage.name" type="text" placeholder="Name" />

            <input name="slug" formInput [(ngModel)]="selectedPackage.slug" type="text" placeholder="Slug" />

            <textarea name="description" formInput [(ngModel)]="selectedPackageDescription" rows="4" placeholder="Description (Use a new line to separate bullet points)"></textarea>

            <div class="columns">
                <input name="price" formInput [(ngModel)]="selectedPackage.price" type="text" placeholder="Price (no dollar sign, but decimals are okay)" />

                <input name="color" formInput [(ngModel)]="selectedPackage.color" type="text" placeholder="Color (red, blue, orange, yellow, green)" />
            </div>

            <div class="columns">
                <label class="checkbox">
                    <input type="checkbox" class="inline-block" name="visible" [checked]="selectedPackage.visible" (change)="selectedPackage.visible = !selectedPackage.visible" />
                    Visible?
                </label>
            </div>

            <div class="section right">
                <div class="button" (click)="deletePackage()">Delete</div>
                <div class="button raised" (click)="savePackage()">Save</div>
            </div>

            <div class="section">

                <h5>Contents</h5>

                <p>Drag and drop to reorder, double click to remove.</p>

                <ul class="taglist files">

                    <li *ngFor="let package of selectedPackage.packages"
                        (dblclick)="removePackageFromPackage(package)"
                        [makeDraggable]="package._id"
                        makeDroppable
                        (dropped)="packagePackagesDropped($event, package._id)"
                        class="{{package.color}} clickable">

                        <i class="fa fa-book"></i>
                        {{package.name}}
                    </li>

                    <li class="grey clickable" (click)="showSelectPackageDialog()">
                        <i class="fa fa-plus"></i>
                        Add Package
                    </li>

                </ul>

                <p>Materials:</p>
                <ul class="taglist files">

                    <li *ngFor="let material of selectedPackage.materials"
                        (dblclick)="removeMaterialFromPackage(material)"
                        [makeDraggable]="material._id"
                        makeDroppable
                        (dropped)="packageMaterialsDropped($event, material._id)"
                        class="grey clickable">

                        <i *ngIf="material.versions[0] && material.versions[0].extension == 'pdf'" class="fa fa-file-pdf-o large" title="PDF"></i>
                        {{material.name}}
                    </li>

                    <li class="grey clickable" (click)="showSelectMaterialDialog()">
                        <i class="fa fa-plus"></i>
                        Add Material
                    </li>

                </ul>

            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>package</h1></div>
    </div>

    <div class="paper has-brackets" *ngIf="selectedTab == 'packageconfig'">

        <div class="content">
            <div class="columns responsive">

                <input name="improv_sub_price"
                    formInput
                    [(ngModel)]="packageConfig.improv_sub_price"
                    type="text"
                    placeholder="Improviser Subscription Price" />

                <input name="improv_team_sub_price"
                    formInput
                    [(ngModel)]="packageConfig.improv_team_sub_price"
                    type="text"
                    placeholder="Improviser Team Subscription Price" />


                <input name="fac_sub_price"
                    formInput
                    [(ngModel)]="packageConfig.fac_sub_price"
                    type="text"
                    placeholder="Facilitator Subscription Price" />

                <input name="fac_team_sub_price"
                    formInput
                    [(ngModel)]="packageConfig.fac_team_sub_price"
                    type="text"
                    placeholder="Facilitator Team Subscription Price" />

            </div>

            <div class="columns responsive">
                
                <input name="improv_team_sub_count"
                    formInput
                    [(ngModel)]="packageConfig.improv_team_sub_count"
                    type="text"
                    placeholder="Improviser Team Subscription Count" />
                
                <input name="fac_team_sub_count"
                    formInput
                    [(ngModel)]="packageConfig.fac_team_sub_count"
                    type="text"
                    placeholder="Facilitator Team Subscription Count" />
                
                <input name="fac_team_package_markup"
                    formInput
                    [(ngModel)]="packageConfig.fac_team_package_markup"
                    type="text"
                    placeholder="Facilitator Team Package Markup" />

                <span></span>

            </div>

            <div class="button-group">
                <button class="button raised" (click)="savePackageConfig()">Save</button>
            </div>
        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>history</h1></div>
    </div>

    <!-- History List -->
    <div class="paper has-brackets" *ngIf="selectedTab == 'history'">

        <div class="content">

            <h4 class="right">History of Everything</h4>

            <div class="right columns">
                <label title="Include logins" (click)="filterHistory()">
                    <i class="fa std fa-sign-in"></i>
                    <input formSwitch name="showLogins" type="checkbox" [(ngModel)]="historyShowLogin" />
                </label>

                <label title ="Include refreshes" (click)="filterHistory()">
                    <i class="fa std fa-refresh"></i>
                    <input formSwitch name="showRefresh" type="checkbox" [(ngModel)]="historyShowRefresh" />
                </label>

                <label title ="Include other stuff" (click)="filterHistory()">
                    <i class="fa std fa-history"></i>
                    <input formSwitch name="showStuff" type="checkbox" [(ngModel)]="historyShowStuff" />
                </label>
            </div>

            <div class="list" infiniteScroll [disable]="isPosting" (load)="loadMoreHistory($event)">

                <div class="item clickable" [class.large]="history == expandedHistory" *ngFor="let history of histories" (click)="expandHistory(history)">
                    
                    <div class="badge">
                        <i class="fa {{getHistoryIcon(history)}}"></i>
                    </div>
                    <div class="metadata">    
                        <div class="row columns fill">
                            <span>{{history.user.firstName}} {{history.user.lastName}}</span>
                            <span *ngIf="!history.user.firstName && !history.user.lastName">{{history.user.email}}</span>
                            
                            <span>{{simpleDateTime(history.date)}}</span>
                        </div>
                        <div class="row columns fill">
                            <span>{{history.action}}</span>

                            <a href="#" (click)="historyLink($event, history)">{{history.target}}</a>

                            <span>
                                <span *ngFor="let change of history.changes">{{change.property}}</span>
                            </span>
                        </div>

                        <div class="description" *ngIf="history == expandedHistory">
                            <hr />

                            <h5 *ngIf="expandedHistoryTargetName == 'loading'"><span class="loading"></span></h5>
                            <h5 *ngIf="expandedHistoryTargetName != 'loading'" [innerHTML]="expandedHistoryTargetName"></h5>

                            <div class="columns" *ngFor="let change of history.changes">
                                <div>
                                    <h5>Old {{change.property}}</h5>
                                    <div>{{change.old}}</div>
                                </div>
                                <div>
                                    <h5>New {{change.property}}</h5>
                                    <div>{{change.new}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="item center" *ngIf="isPosting">
                    <span class="loading"></span>
                </div>

            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>history</h1></div>
    </div>

</div>

<!-- dialog for selecting a material item or package -->
<div class="dialog-container" [class.show]="selectMaterialDialogVisible || selectPackageDialogVisible">
    <div class="dialog-dismiss" (click)="cancelSelectMaterialDialog()"></div>

    <div class="dialog invite-form" *ngIf="selectMaterialDialogVisible || selectPackageDialogVisible" [@dialog]="'default'">

        <form class="block" name="invite" (ngSubmit)="submitInvite()" #inviteForm="ngForm">
            <div class="dialog-content">
                <h2>Select a Thing!</h2>
                
                <ul class="taglist files" *ngIf="selectMaterialDialogVisible">

                    <li *ngFor="let material of materialItems"
                        (click)="selectMaterialForPackage(material)"
                        class="{{material.color}} clickable"
                        [class.hide]="!material.visible">

                        <i *ngIf="material.versions[0] && material.versions[0].extension == 'pdf'" class="fa fa-file-pdf-o large" title="PDF"></i>
                        {{material.name}}
                    </li>

                </ul>
                
                <ul class="taglist files" *ngIf="selectPackageDialogVisible">

                    <li *ngFor="let package of packages"
                        (click)="selectPackageForPackage(package)"
                        class="{{package.color}} clickable"
                        [class.hide]="!package.visible">

                        <i class="fa fa-book"></i>
                        {{package.name}}
                    </li>

                </ul>

            </div>

            <div class="button-group" *ngIf="!isPosting">
                <a (click)="cancelSelectMaterialDialog()" class="button">Cancel</a>
            </div>
        </form>

    </div>
</div>