<div class="toolbar" 
    [showBack]="true"
    [class.on]="_app.toolbarVisible"
    [tools]="tools"
    (toolClicked)="onToolClicked($event)"
    (goBack)="closePage()"></div>

<!--<div class="curtain" [style.top]="(-(scrollpos * 0.5)) + 'px'">
    <h2 *ngIf="game && game.names && game.names[0]">{{game.names[0].name}}</h2>
    <h2 *ngIf="game && (!game.names || !game.names[0])">New Game</h2>
</div>-->

<div class="page" *ngIf="game">

    <div class="tabs">
        <span class="tab" 
            *ngFor="let tab of tabs"
            [class.active]="tab.id == selectedTab"
            (click)="selectTab(tab)">
            <i class="fa fa-{{tab.icon}}"></i>
            <span>{{tab.name}}</span>
        </span>
    </div>

    <div *ngIf="selectedTab == 'details'" class="paper has-brackets">

        <div class="content">

            <h4 class="right">
                <span *ngIf="!addNameShown && !editNameShown"
                    [class.clickable]="can('name_edit')"
                    (click)="showEditName()">{{game.names[0] ? game.names[0].name : 'New Game'}}</span>

                <input name="editName"
                    *ngIf="addNameShown || editNameShown"
                    [(ngModel)]="editName"
                    (keydown.enter)="saveEditName()"
                    (blur)="saveEditName()" />

                <i *ngIf="can('name_create') && !addNameShown && !editNameShown && game.names[0]" (click)="showAddName()" 
                    class="fa fa-plus-circle clickable" title="Add an alternate name."></i>
            </h4>

            <div class="metadata right">

                <div *ngIf="game.names.length === 2">
                    <h5>AKA {{game.names[1].name}}</h5>
                </div>
                <div *ngIf="game.names.length > 2">
                    <h5 (click)="toggleNames()" class="clickable"><i class="fa fa-sort-down"
                        [class.open]="namesOpen"></i> {{game.names.length - 1}} known aliases</h5>

                    <ol *ngIf="namesOpen" [@expand]>
                        <li *ngFor="let name of game.names" [class.hide]="name.name === game.names[0].name">{{name.name}}</li>
                    </ol>
                </div>

                <span class="bullet improvplus-editable-metadata"
                    [model]="game.playerCount"
                    [blankText]="'No Player Count Specified'"
                    [icon]="'users'"
                    [canEdit]="can('game_edit')"
                    [options]="allPlayerCounts"
                    [optionCreate]="can('metadata_create')"
                    (save)="savePlayerCount($event)"
                    (createOption)="showCreateMetadataDialog($event, 'playerCount')"></span>
                

                <span class="improvplus-editable-metadata"
                    [model]="game.duration"
                    [blankText]="'No Duration Specified'"
                    [icon]="'clock-o'"
                    [canEdit]="can('game_edit')"
                    [options]="allDurations"
                    [optionCreate]="can('metadata_create')"
                    (save)="saveDuration($event)"
                    (createOption)="showCreateMetadataDialog($event, 'duration')"></span>

                <ul class="taglist">
                    <li *ngIf="can('game_tag_add') && !addTagShown"
                        title="Add Tag" (click)="showAddTag()" class="clickable" [class.flat]="game.tags.length">
                            <i class="fa fa-plus-circle"></i></li>

                    <li *ngIf="addTagShown">
                        <i class="fa fa-hashtag"></i> 
                        <input type="text" name="addTag" [(ngModel)]="newTagText" (keydown)="newTagKeyDown($event)" />

                        <ul class="tag-hints" *ngIf="tagHints && tagHints.length">
                            <li *ngFor="let hint of tagHints" 
                                [class.hover]="hint.name === newTagText"
                                (click)="addTag(hint)" class="clickable">{{hint.name}}</li>
                        </ul>
                    </li>

                    <li *ngFor="let taggame of game.tags" 
                        [title]="taggame.tag.description || ''"
                        [class.clickable]="can('game_tag_remove')" (click)="removeTag(taggame)">
                        <i class="fa fa-hashtag"></i> {{taggame.tag.name}}</li>
                </ul>
            </div>

            <hr />

            <div class="description" 
                [innerHTML]="game.description ? game.description : 'No Description'"
                *ngIf="!editDescriptionShown"></div>

            <textarea name="description"
                class="description"
                [(ngModel)]="newDescriptionText" 
                *ngIf="editDescriptionShown"></textarea>

            <div class="button-group" *ngIf="can('game_edit')">
                <div class="button" *ngIf="!editDescriptionShown" (click)="showEditDescription()">EDIT</div>
                
                <div class="button" *ngIf="editDescriptionShown" (click)="cancelEditDescription()">cancel</div>
                <div class="button raised" *ngIf="editDescriptionShown" (click)="saveDescription()">SAVE</div>
            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>game details</h1></div>
    </div>

    <div *ngIf="selectedTab == 'notes'" class="paper has-brackets">

        <!--<h4>Discussion</h4>-->

        <!--<div class="metadata right">
            <span>The following has been said about <em>{{game.names[0].name}}</em>, or the tags associated with it.</span>
        </div>

        <hr />-->

        <div class="content">

            <div *ngFor="let note of notes" class="block">
                <div class="description" [innerHTML]="note.description"></div>
                <div class="metadata right">
                    <h5>{{note.addedUser.firstName}} {{note.addedUser.lastName}}</h5>
                    
                    <span>Regarding
                        <i class="fa"
                            [class.fa-soccer-ball-o]="note.game"
                            [class.fa-hashtag]="note.tag"
                            [class.fa-group]="note.metadata && note.metadata.type == 'playerCount'"
                            [class.fa-clock-o]="note.metadata && note.metadata.type == 'duration'"
                            ></i>
                        <em *ngIf="note.game">{{game.names[0].name}}</em>
                        <em *ngIf="note.tag">{{note.tag.name}}</em>
                        <em *ngIf="note.metadata">{{note.metadata.name}}</em>
                    </span>
                    
                </div>
            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>director's commentary</h1></div>
    </div>

    <div *ngIf="selectedTab == 'notes'" class="paper has-brackets">

        <div class="content">

            <textarea formInput
                name="noteInput"
                placeholder="Add a note"
                rows="5"
                [(ngModel)]="noteInput"></textarea>

            <div class="button-group">

                <span class="improvplus-editable-metadata"
                    [canEdit]="true"
                    [allowBlank]="false"
                    [options]="noteContextOptions"
                    (save)="setNoteContext($event)"></span>

                <label title="Share this note with your team?">
                    <i class="fa std fa-users"></i>
                    <input formSwitch name="noteTeam" type="checkbox" [(ngModel)]="noteTeam" />
                </label>
                <button class="button raised" [class.disabled]="!noteInput" (click)="saveNote()">Save</button>
            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>your notes</h1></div>
    </div>

</div>

<div class="page" *ngIf="gameNotFound">
    <not-found [injected]="true"></not-found>
</div>

<create-metadata *ngIf="can('metadata_create')" class="dialog-container" [class.show]="createMetadataType"
    [type]="createMetadataType" (done)="onCreateMetadataDone($event)"></create-metadata>