<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"

    [class.active]="filter"
    [showSearch]="false"
    [searchResults]="searchResults"
    [showBack]="filter"
    (toolClicked)="onToolClicked($event)"
    (goBack)="clearFilter()"
    ></div>

<div class="page">

    <div class="materials-page" *ngIf="ownedMaterials" [library]="ownedMaterials"></div>

    <div class="materials-page" *ngFor="let team of adminTeams" [team]="team"></div>

    <div class="materials-page" *ngFor="let team of teams" [team]="team"></div>

    <!--<div class="paper has-brackets" *ngIf="!ownedMaterials.length && !teams.length && !adminTeams.length">
        <div class="content">

            <p>You do not have access to any Materials yet. You will soon be able to do something about that, but for now you'll have to just be patient.</p>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>

        <div class="right-bracket">
            <h1 *ngIf="!team">Materials</h1>
        </div>
    </div>-->

</div>