<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"
    ></div>

<div class="page">

    <div class="paper has-brackets">

        <div class="content card-list">

            <div class="card clickable"
                (click)="selectTeam(team)"
                *ngFor="let team of adminOfTeams">

                <div class="top">
                    <i class="fa fa-unlock" title="You are an admin of this team."></i>
                    <div class="content">
                        <h3>{{team.name}}</h3>
                        <h4>Registered {{getDate(team.dateAdded)}}</h4>
                    </div>
                </div>
                <div class="body">
                    <div class="columns fill data-row">
                        <span>Members</span>
                        <span>{{team.admins.length + team.members.length}}</span>
                    </div>
                    <div class="columns fill data-row">
                        <span>Available Subscriptions</span>
                        <span>{{team.subscription.subscriptions - team.subscription.children.length}}</span>
                    </div>
                    <div class="columns fill data-row" *ngIf="team.materials && team.materials.length">
                        <span>Materials Owned</span>
                        <span>{{team.materials.length}}</span>
                    </div>
                </div>
            </div>

            <div class="card clickable"
                (click)="selectTeam(team)"
                *ngFor="let team of memberOfTeams">

                <div class="top">
                    <i class="fa fa-lock" title="You are not an admin of this team."></i>
                    <div class="content">
                        <h3>{{team.name}}</h3>
                    </div>
                </div>
                <div class="body">
                    <div class="columns fill data-row">
                        <span>Created</span>
                        <span>{{getDate(team.dateAdded)}}</span>
                    </div>
                    <div class="columns fill data-row">
                        <span>Members</span>
                        <span>{{(team.admins.length || 0) + (team.members.length + 0)}}</span>
                    </div>
                    <div class="columns fill data-row" *ngIf="team.materials && team.materials.length">
                        <span>Materials Owned</span>
                        <span>{{team.materials.length}}</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1></h1></div>
    </div>

</div>