<div class="toolbar"
    [title]="title"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    (toolClicked)="onToolClicked($event)"></div>

<div class="page">

    <div class="tabs">
        <span class="tab" 
            *ngFor="let tab of tabs"
            [class.active]="tab.id == selectedTab"
            (click)="selectTab(tab)">
            <i class="fa fa-{{tab.icon}}"></i>
            <span>{{tab.name}}</span>
        </span>
    </div>

    <div class="paper has-brackets" *ngIf="user && selectedTab == 'user'">

        <div class="content">
            <user-form 
                [user]="user"
                [isPosting]="isPosting"
                [backText]="'Log Out'"
                (back)="_app.logout()"
                (valid)="submitEditUser($event)"></user-form>
        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>your account</h1></div>
    </div>

    <div class="paper has-brackets" *ngIf="subscription && selectedTab == 'subscription'">

        <div class="card-list">

            <div class="card" *ngIf="subscription">
                <div class="top">
                    <i class="fa fa-id-card-o"></i>
                    <div class="content">
                        <h4 class="light">Your <strong>{{subscription.roleName}}</strong> Subscription</h4>
                        <h4 class="light">Expires</h4>
                        <h4 class="light" *ngIf="userService.isExpired()">Expired</h4>
                        <h3>{{getDate(subscription.expiration)}}</h3>
                    </div>
                </div>
                <div class="body">
                    <p>Activated {{getDate(subscription.start)}}</p>

                    <p *ngIf="subscription.parent">Inherited from <strong>{{subscription.parent.team.name}}</strong></p>
                    <p *ngIf="subscription.parent">When {{subscription.parent.team.name}}'s Subscription is renewed, yours will be too.</p>
                </div>
                <div class="action">
                    <a (click)="cancelSubscription()" class="button" *ngIf="!userService.isExpired()">Cancel Your Subscription</a>
                    <a (click)="cancelSubscription()" class="button" *ngIf="userService.isExpired()">Renew Your Subscription</a>
                </div>
            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>your subscription</h1></div>
    </div>

    <div class="paper has-brackets" *ngIf="purchases && selectedTab == 'purchases'">

        <div class="card-list">

            <div class="card"
                *ngFor="let purchase of purchases">

                <div class="top">
                    <i class="fa fa-users" *ngIf="purchase.team" title="This purchase was made for your team."></i>
                    <div class="content">
                        <h4 *ngIf="purchase.team">{{purchase.team.name}}</h4>
                        <h3>{{getDate(purchase.date)}}</h3>
                        <h4>{{getTime(purchase.date)}}</h4>
                    </div>
                </div>
                <div class="body">
                    <div class="columns fill" *ngFor="let package of purchase.packages">
                        <span>{{package.package.name}}</span>
                        <span>${{package.price}}</span>
                    </div>
                    <div class="columns fill" *ngFor="let o of purchase.other">
                        <span>{{o.description}}</span>
                        <span>${{o.price}}</span>
                    </div>

                    <!--<div class="columns fill" *ngIf="purchase.packages">
                        <div>
                            <p><strong>{{purchase.package.name}}</strong></p>
                            <p *ngIf="purchase.package.subscriptions == 1"><em>One-year App Subscription</em></p>
                            <p *ngIf="purchase.package.subscriptions > 1"><em>{{purchase.package.subscriptions}} App Subscriptions</em></p>
                            <p *ngIf="purchase.package.materials.length > 1"><em>{{purchase.package.materials.length}} Materials</em></p>
                        </div>
                        <p>${{purchase.package.price}}</p>
                    </div>-->

                    <div class="columns fill">
                        <div>---</div>
                    </div>

                    <div class="columns fill">
                        <span>Total:</span>
                        <strong>${{purchase.total}}</strong>
                    </div>
                </div>
            </div>

        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>your purchase history</h1></div>
    </div>

</div>