<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"

    [class.active]="filter"
    [showSearch]="false"
    [searchResults]="searchResults"
    [showBack]="filter"
    (toolClicked)="onToolClicked($event)"
    (search)="onSearch($event)"
    (searchResultClick)="onSearchResultClick($event)"
    (goBack)="clearFilter()"
    ></div>

<div class="page" *ngIf="materials && packages">

    <div class="paper has-brackets" *ngFor="let package of packages">

        <div class="card-list">
            <div class="card red brackets clickable" 
                *ngFor="let material of getMaterials(package.PackageID)">

                <h4>{{material.Name}}</h4>
                <p>{{material.Description}}</p>
            </div>
        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>{{package.Name}}</h1></div>

    </div>

    <div class="paper has-brackets" *ngIf="getAddons().length > 0">

        <div class="card-list">
            <div class="card red brackets clickable" 
                *ngFor="let material of getAddons()">

                <h4>{{material.Name}}</h4>
                <p>{{material.Description}}</p>
            </div>
        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>addon items</h1></div>

    </div>

</div>