<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"

    [class.active]="filter"
    [showSearch]="false"
    [searchResults]="searchResults"
    [showBack]="filter"
    (toolClicked)="onToolClicked($event)"
    (search)="onSearch($event)"
    (searchResultClick)="onSearchResultClick($event)"
    (goBack)="clearFilter()"
    ></div>

<div class="page">

    <div class="paper has-brackets" *ngIf="ownedMaterials">

        <div class="content">
            <!--<h4 class="right">Your Materials</h4>-->

            <div class="card-list">

                <div class="card small clickable {{material.color}}"
                    *ngFor="let material of ownedMaterials"
                    (click)="selectMaterial(material)">

                    <div class="top">
                        <i *ngIf="material.extension == 'pdf'" class="fa fa-file-pdf-o" title="PDF"></i>
                        <h3>{{material.name}}</h3>
                    </div>
                    <div class="body">
                        <p>{{material.description}}</p>
                        <ul class="taglist grey">
                            <li *ngFor="let tag of material.tags">{{tag}}</li>
                            <li class="dull">{{versionTag(material)}}</li>
                        </ul>
                    </div>
                    <!--<div class="action">
                        <a href="#" class="button">Download</a>
                    </div>-->
                </div>

            </div>

            <p><em>Please note that you might need to tell your browser to allow popups.</em></p>
        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>Your Materials</h1></div>
    </div>

</div>