<div class="toolbar"
    [title]="title"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    (toolClicked)="onToolClicked($event)"></div>

<div class="page">

    <div class="paper has-brackets" *ngIf="user">

        <form name="edit-user" (ngSubmit)="submitEditUser()" #userForm="ngForm">
            
            <div class="section">
                <label>
                    Email*
                    <input name="email" [(ngModel)]="user.Email" required type="text" placeholder="Email" />
                </label>

                <div class="columns">
                    <label>Name*
                        <input name="first-name" [(ngModel)]="user.FirstName" required type="text" placeholder="First Name" />
                    </label>
                    <label>&nbsp;
                        <input name="last-name" [(ngModel)]="user.LastName" required type="text" placeholder="Last Name" />
                    </label>
                </div>

                <div class="columns">
                    <div>
                        <label>Title
                            <input name="title" [(ngModel)]="user.Title" type="text" placeholder="Title" />
                        </label>
                    </div>
                    <div>
                        <label>Company (if applicable)
                            <input name="company" [(ngModel)]="user.Company" type="text" placeholder="Company" />
                        </label>
                    </div>
                </div>
            </div>

            <div class="section">
                <!--<div class="columns">
                    <label>
                        <input type="radio" name="gender" value="M" [(ngModel)]="user.Gender" />
                        Male
                    </label>
                    <label>
                        <input type="radio" name="gender" value="F" [(ngModel)]="user.Gender" />
                        Female
                    </label>
                    <label>
                        <input type="radio" name="gender" value="O" [(ngModel)]="user.Gender" />
                        None of your business
                    </label>
                </div>-->
                <div class="columns">
                    <label>Address*
                        <input name="address" [(ngModel)]="user.Address" required type="text" placeholder="Address" />
                        <div class="columns">
                            <input name="city" [(ngModel)]="user.City" required type="text" placeholder="City" />
                            <input name="state" [(ngModel)]="user.State" maxlength="2" required type="text" placeholder="State" />
                        </div>
                        <input name="country" [(ngModel)]="user.Country" type="text" placeholder="Country" />
                    </label>
                    <div>
                        <label>Phone*
                            <input name="phone" [(ngModel)]="user.Phone" required type="text" placeholder="Phone" />
                        </label>
                        <label>Website
                            <input name="URL" [(ngModel)]="user.URL" type="text" placeholder="URL" />
                        </label>
                    </div>
                </div>

            </div>

            <div class="section">
                <div class="columns">
                    <label>Description
                        <textarea name="description" [(ngModel)]="user.Description" rows="4"></textarea>
                    </label>
                </div>
            </div>

            <div class="section">
                <div class="columns">
                    <label>Improv Experience
                        <select name="improv-experience" [(ngModel)]="user.ImprovExp">
                            <option value="1">1 (none)</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 (ton)</option>
                        </select>
                    </label>
                    <label>Facilitation Experience
                        <select name="facilitation-experience" [(ngModel)]="user.FacilitationExp">
                            <option value="1">1 (none)</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 (ton)</option>
                        </select>
                    </label>
                </div>

                <label class="checkbox center">
                    <input type="checkbox" class="inline-block" name="training-interest" value="true" [(ngModel)]="user.TrainingInterest" />
                    Interested in Facilitation or Improv Training (for yourself)?
                </label>
            </div>

            <div class="section">
                <div class="columns">
                    <input name="change-password" [(ngModel)]="password" type="password" placeholder="Password" />
                    <input name="change-password-confirm" [(ngModel)]="passwordConfirm" type="password" placeholder="Confirm Password" />
                </div>
                <label>(Leave the password blank if you don't want to change it)</label>
                <label class="error" *ngIf="passwordMatchError">The two passwords you entered do not match.</label>
            </div>
            
            <div class="button-group" *ngIf="!isPosting">
                <input type="button" class="button" value="LOG OUT" (click)="logout()" />

                <input type="submit" class="button raised" value="SAVE" [disabled]="!userForm.form.valid" />
            </div>

            <div class="button-group" *ngIf="isPosting">
                <div class="button"><i class="loading"></i></div>
            </div>
        </form>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1>you</h1></div>
    </div>

</div>