<div (click)="cancel()" class="backdrop nav-backdrop show" *ngIf="type" [@fade]></div>

<div class="dialog" *ngIf="type" [@dialog]>
    <form #createForm="ngForm">
        <div class="dialog-content">
            <h3>New {{type}}</h3>

            <input name="name" required placeholder="Name" [(ngModel)]="name" />
            <div class="columns">
                <input name="min" required [placeholder]="'Min ' + type" [(ngModel)]="min" />
                <input name="max" required [placeholder]="'Max ' + type" [(ngModel)]="max" />
            </div>

            <div class="section">
                <label>Description</label>
                <textarea name="description" [(ngModel)]="description"></textarea>
            </div>
        </div>
        <div class="button-group" *ngIf="!isPosting">
            <div class="button" (click)="cancel()">cancel</div>

            <input type="submit" class="button raised" value="create" (click)="createMetadata()" [disabled]="!createForm.form.valid" />
        </div>

        <div class="button-group" *ngIf="isPosting">
            <div class="button"><i class="loading"></i></div>
        </div>
    </form>
</div>