<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="{{baseHref}}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="description" content="A network bringing Facilitators and Improvisers together to help make everybody more awesome. Integrate Improv into your company programs and your team will gain confidence, creativity, communication skills, and an unbeatable company culture.">
        <meta name="author" content="ImprovPlus, DenyConformity.com">
        <meta name="keywords" content="Improv, Facilitation, Training, Professional Development, Talent Development, improvisers, facilitators, team building, company culture, business development, problem solving, improv games, learn improv">

        <title>{{title}}</title>

        <link rel='stylesheet' href='{{baseHref}}css/style.css'>

        <script src="https://use.fontawesome.com/3cefb17d60.js"></script>

        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>

        
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/favicon/manifest.json">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#d32f2f">
        <link rel="shortcut icon" href="/favicon/favicon.ico">
        <meta name="msapplication-config" content="/favicon/browserconfig.xml">
        <meta name="theme-color" content="#606060">
        
    </head>
    <body>

        {{!--<div id="cornerLogo">
            <img src="/images/cornerlogo.png" />
        </div>--}}

        {{{body}}}

    </body>
</html>