<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"
    ></div>

<div class="page">

    <div class="paper-label big">
        welcome to <span class="light">improv</span><strong>plus</strong>
    </div>

    <div class="card-list">

        <div routerLink="/materials" class="card red brackets clickable"
                *ngIf="userService.can('materials_view')">
            <h4>Materials</h4>
            <p>Browse and download your ImprovPlus content.</p>
        </div>

        <div routerLink="/games" class="card yellow brackets clickable" *ngIf="userService.can('game_view')">
            <h4>Game Database</h4>
            <p>View our collection of over 200 Improv exercises.</p>
        </div>

    </div>

</div>