<div class="toolbar" 
    [tools]="tools"
    [title]="title"
    [class.on]="_app.toolbarVisible"
    [class.active]="filter"
    [showSearch]="true"
    [searchResults]="searchResults"
    [showBack]="filter"
    (toolClicked)="onToolClicked($event)"
    (search)="onSearch($event)"
    (searchResultClick)="onSearchResultClick($event)"
    (goBack)="clearFilter()"

    *ngIf="!selectedGame"
    ></div>

<div class="page fullbg" *ngIf="!selectedGame">

    <div class="paper-label" *ngIf="filter && filter.property == 'search'">
        Showing results for "{{searchTerm}}"
    </div>

    <div class="paper-label" *ngIf="filter && filter.property != 'search'">
        Filtered results
    </div>

    <div class="paper-label" *ngIf="!filter">
        All Games
    </div>

    <div class="list paper">
        <div class="item ng-game-card clickable" *ngFor="let game of games; trackBy:trackByGames"
            [game]="game"
            [class.selected] = "game === selectedGame"
            (click)="onSelect(game)">
            <!--[routerLink]="['/game', game.GameID]">-->
        </div>
    </div>

    <!--<div id="cornerLogo">
        <img src="/images/cornerlogo.png" />
    </div>-->

</div>

<game-details *ngIf="selectedGame"
    [game]="selectedGame"
    (onClose)="closeDetails($event)" ></game-details>

<button class="fab" *ngIf="userService.can('game_create')" (click)="createGame()"><i class="fa fa-plus"></i></button>
