<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"

    [class.active]="filter"
    [showSearch]="false"
    [searchResults]="searchResults"
    [showBack]="filter"
    (toolClicked)="onToolClicked($event)"
    (search)="onSearch($event)"
    (searchResultClick)="onSearchResultClick($event)"
    (goBack)="clearFilter()"
    ></div>

<div class="page" *ngIf="subscriptions">

    <div class="paper-label big">
        your <span class="light">improv</span><strong>plus</strong> packages
    </div>

    <div class="card-list">
        
        <div *ngFor="let subscription of subscriptions" 
            routerLink="/package/{{subscription.package.slug}}"
            class="card brackets clickable {{subscription.package.color}}">
            <h4>{{subscription.package.name}}</h4>
            <p>{{subscription.package.description}}</p>
        </div>

    </div>

</div>