<div class="toolbar"
    [class.on]="_app.toolbarVisible"
    [tools]="_tools"
    [title]="title"
    ></div>

<div class="page">

    <div class="paper has-brackets">

        <h4 class="right">Access Denied</h4>

        <p>We are terribly sorry, but you do not have permission to view whatever it was you were trying to view.</p>

        <div class="button-group center">
            <button class="button brackets" routerLink="/dashboard">Return to your Dashboard</button>
        </div>

        <div class="left-bracket"><h1><span class="light">improv</span><strong>plus</strong></h1></div>
        <div class="right-bracket"><h1></h1></div>
    </div>

</div>