<nav [class.show] = "showMenu">
    <div class="nav-top">
        <button (click)="toggleNav()">
            <i class="fa fa-bars" [class.active]="showMenu"></i>
        </button>
        <button (click)="fullscreen()">
            <i class="fa"
                [class.fa-expand]="!showFullscreen"
                [class.fa-compress]="showFullscreen"></i>
        </button>

        <div class="content">
            <h1><span class="light">improv</span><strong>plus</strong></h1>

            <a routerLink="/user" (click)="toggleNav()" *ngIf="user"><i class="fa fa-user"></i> {{user.Email}}</a>
            
            <div class="login" *ngIf="!user">
                <a (click)="login()"><i class="fa fa-user"></i> Log In</a>
            </div>
        </div>
    </div>

    <a routerLink="/games" (click)="toggleNav()" routerLinkActive="active"><i class="fa fa-soccer-ball-o"></i> Game Database</a>
    <a routerLink="/about" (click)="toggleNav()" routerLinkActive="active"><i class="fa fa-info-circle"></i> About</a>

    <hr />

    <a routerLink="/contact" (click)="toggleNav()" routerLinkActive="active"><i class="fa fa-envelope"></i> Contact</a>
</nav>

<div (click)="closeOverlays()" class="backdrop nav-backdrop" [class.show]="showBackdrop"></div>

<router-outlet></router-outlet>

<div class="dialog-container" *ngIf="showDialog">
    <div class="dialog" [@dialog]>
        <div class="dialog-content">
            <h2>{{dialogTitle}}</h2>
            <p>{{dialogMessage}}</p>
        </div>
        <div class="button-group">
            <button (click)="onDialogDismiss()">Cancel</button>
            <button (click)="onDialogConfirm()">{{dialogConfirm}}</button>
        </div>
    </div>
</div>

<login [show]="showLogin" (done)="handleLogin($user)" class="dialog-container"></login>
