<div class="toolbar" 
    [showBack]="true"
    [class.transparent]="scrollpos < showToolbarScrollPosition"
    [tools]="tools"
    (toolClicked)="onToolClicked($event)"
    (goBack)="closePage()"></div>

<div class="curtain" [style.top]="(-(scrollpos * 0.5)) + 'px'">
    <h2 *ngIf="game">{{game.Names[0].Name}}</h2>
</div>

<div class="content" (scroll)="onScroll($event)">
    <div *ngIf="game" class="material">

        <h4>
            <span *ngIf="!addNameShown && !editNameShown"
                [class.clickable]="can('name_update')"
                (click)="showEditName()">{{game.Names[0].Name}}</span>

            <input name="editName"
                *ngIf="addNameShown || editNameShown"
                [(ngModel)]="editName"
                (keydown.enter)="saveEditName()"
                (blur)="saveEditName()" />

            <i *ngIf="can('name_submit') && !addNameShown && !editNameShown" (click)="showAddName()" 
                class="fa fa-plus-circle clickable" title="Add an alternate name."></i>
        </h4>

        <div class="metadata">

            <div *ngIf="game.Names.length === 2">
                <h5>AKA {{game.Names[1].Name}}</h5>
            </div>
            <div *ngIf="game.Names.length > 2">
                <h5 (click)="toggleNames()"><i class="fa fa-sort-down"
                    [class.open]="namesOpen"></i> {{game.Names.length - 1}} known aliases</h5>

                <ol *ngIf="namesOpen" [@expand]>
                    <li *ngFor="let name of game.Names" [class.hide]="name.Name === game.Names[0].Name">{{name.Name}}</li>
                </ol>
            </div>

            <span class="bullet" 
                *ngIf="playerCount"
                [title]="!editPlayerCountShown ? playerCount.Description : ''">

                <i class="fa fa-group"></i> 
                
                <span *ngIf="!editPlayerCountShown"
                    [class.clickable]="can('game_edit')"
                    (click)="showEditPlayerCount()">{{playerCount.Name}}</span>

                <select name="playerCount" type="number"
                    *ngIf="editPlayerCountShown"
                    [(ngModel)]="game.PlayerCountID"
                    (ngModelChange)="savePlayerCount()">

                    <option *ngFor="let pc of allPlayerCounts" [ngValue]="+pc.PlayerCountID" [title]="pc.Description">{{pc.Name}}</option>

                    <option *ngIf="can('meta_create')" value="0">Other...</option>
                </select>
            </span>
            
            <span class="bullet" *ngIf="duration" title="{{duration.Description}}">
                
                <i class="fa fa-clock-o"></i> 
                
                <span *ngIf="!editDurationShown"
                    [class.clickable]="can('game_edit')"
                    (click)="showEditDuration()">
                    {{duration.Name}}</span>

                <select name="duration"
                    *ngIf="editDurationShown"
                    [(ngModel)]="game.DurationID"
                    (ngModelChange)="saveDuration()">

                    <option *ngFor="let d of allDurations" [ngValue]="d.DurationID" [title]="d.Description">{{d.Name}}</option>

                    <option *ngIf="can('meta_create')" value="0">Other...</option>
                </select>
                
            </span>

            <ul class="taglist">
                <li *ngFor="let tag of tags" [class.clickable]="can('game_edit')" (click)="removeTag(tag)">
                    <i class="fa fa-hashtag"></i> {{tag.Name}}</li>

                <li *ngIf="can('game_edit') && !addTagShown" (click)="showAddTag()" class="flat clickable">
                    <i class="fa fa-plus-circle"></i></li>

                <li *ngIf="addTagShown">
                    <i class="fa fa-hashtag"></i> <input type="text" [(ngModel)]="newTagText" (keydown)="newTagKeyDown($event)" />

                    <ul class="tag-hints" *ngIf="tagHints && tagHints.length">
                        <li *ngFor="let hint of tagHints" (click)="addTag(hint)" class="clickable">{{hint.Name}}</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="description" [innerHTML]="game.Description" *ngIf="!editDescriptionShown"></div>

        <textarea name="description" class="description" [(ngModel)]="newDescriptionText" *ngIf="editDescriptionShown"></textarea>

        <div class="button-group" *ngIf="can('game_edit')">
            <div class="button" *ngIf="!editDescriptionShown" (click)="showEditDescription()">EDIT</div>
            
            <div class="button" *ngIf="editDescriptionShown" (click)="_closeAllEdits()">cancel</div>
            <div class="button raised" *ngIf="editDescriptionShown" (click)="saveDescription()">SAVE</div>
        </div>
    </div>

    <div *ngIf="game && notes.length > 0" class="material">

        <h4>Discussion</h4>

        <div class="metadata">
            <span>The following has been said about <em>{{game.Names[0].Name}}</em>, or the tags associated with it.</span>
        </div>

        <div *ngFor="let note of notes">
            <div class="description" [innerHTML]="note.Description"></div>
            <div class="metadata right">
                <h5>{{note.AddedFirstName}} {{note.AddedLastName}}</h5>
                
                <span>Regarding
                    <i class="fa"
                        [class.fa-soccer-ball-o]="note.GameID"
                        [class.fa-hashtag]="note.TagID"
                        [class.fa-group]="note.PlayerCountID"
                        [class.fa-clock-o]="note.DurationID"
                        ></i>
                     <em *ngIf="note.GameID">{{game.Names[0].Name}}</em>
                     <em *ngIf="note.TagID && tagMap">{{tagMap[note.TagID]}}</em>
                     <em *ngIf="note.PlayerCountID && playerCount">{{playerCount.Name}}</em>
                     <em *ngIf="note.DurationID && duration">{{duration.Name}}</em>
                </span>
                
            </div>
        </div>

    </div>
</div>