<div class="toolbar" [class.transparent]="scrollpos < showToolbarScrollPosition">
    <div class="toolbar-row">
        <button (click)="closePage()">
            <i class="fa fa-arrow-left"></i>
        </button>

        <span class="spacer"></span>

        <span class="tools">
            <!--
            <button *ngFor="let tool of tools"
                class="btn"
                [class.active]="tool.active"
                title="{{tool.text}}"
                (click)="toolClick(tool)">
                <i class="fa {{tool.icon}}"></i>
            </button>
            -->
        </span>
    </div>
</div>

<div class="curtain" [style.top]="(-(scrollpos * 0.5)) + 'px'"></div>

<div class="content" (scroll)="onScroll($event)">
    <div *ngIf="game" class="material">

        <h4>{{game.Names[0].Name}}</h4>

        <div class="metadata">

            <div *ngIf="game.Names.length === 2">
                <h5>AKA {{game.Names[1].Name}}</h5>
            </div>
            <div *ngIf="game.Names.length > 2">
                <h5 (click)="toggleNames()"><i class="fa fa-sort-down"
                    [class.open]="namesOpen"></i> {{game.Names.length - 1}} known aliases</h5>

                <ol *ngIf="namesOpen" [@expand]>
                    <li *ngFor="let name of game.Names" [class.hide]="name.Name === game.Names[0].Name">{{name.Name}}</li>
                </ol>
            </div>

            <span class="bullet" *ngIf="playerCount" title="{{playerCount.Description}}"><i class="fa fa-group"></i> {{playerCount.Name}}</span>
            <span class="bullet" *ngIf="duration" title="{{duration.Description}}"><i class="fa fa-clock-o"></i> {{duration.Name}}</span>

            <ul class="taglist">
                <li *ngFor="let tag of tags">{{tag.Name}}</li>
            </ul>
        </div>

        <div class="description" [innerHTML]="game.Description"></div>

    </div>

    <div *ngIf="game && notes.length > 0" class="material">

        <h4>Discussion</h4>

        <div class="metadata">
            <span><i class="fa fa-group"></i></span>
        </div>

        <div *ngFor="let note of notes">
            <div class="description" [innerHTML]="note.Description"></div>
            <div class="metadata right">
                <h5>{{note.AddedFirstName}} {{note.AddedLastName}}</h5>
                <span *ngIf="note.GameID"><i class="fa fa-soccer-ball-o"></i> <em>{{game.Names[0].Name}}</em></span>
            </div>
        </div>

    </div>
</div>