<div class="toolbar-row">
    <button *ngIf="!showBack" (click)="toggleNav()">
        <i class="fa fa-bars" [class.active]="showMenu"></i>
    </button>
    <button *ngIf="showBack" (click)="back()">
        <i class="fa fa-arrow-left"></i>
    </button>

    <h2 [innerHTML]="title"></h2>

    <span class="spacer"></span>

    <span *ngIf="showSearch" class="search" [class.active]="searchOpen || searchTerm">
        <i class="fa fa-search"></i>
        <input placeholder="Search"
            (focus)="openSearch()"
            (blur)="closeSearch()"
            (keydown)="typeSearch($event)"
            [(ngModel)]="searchTerm" />
        <div class="results">
            <ul>
                <li *ngFor="let result of searchResults" (click)="clickResult(result)">
                    <i class="fa"
                        [class.fa-soccer-ball-o]="result.type == 'name'"
                        [class.fa-hashtag]="result.type == 'tag'"
                        [class.fa-clock-o]="result.type == 'duration'"
                        [class.fa-group]="result.type == 'playercount'"
                        ></i>
                    <span [innerHTML]="result.text"></span>
                </li>
            </ul>
        </div>
        <i class="fa fa-close" *ngIf="searchTerm" (click)="clearSearch()"></i>
    </span>

    <span *ngIf="showSearch" class="spacer"></span>

    <span class="tools">
        <button *ngFor="let tool of tools"
            class="btn"
            [class.active]="tool.active"
            title="{{tool.text}}"
            (click)="toolClick(tool)">
            <i class="fa {{tool.icon}}"></i>
        </button>
    </span>
</div>