<div class="toolbar" [class.on]="(pageStart - _app.scrollpos) <= 20">
    <div class="toolbar-row">
        <iplus class="white" (click)="login()" *ngIf="!_app.loaderVisible"></iplus>

        <a routerLink="/signup">Join</a>

        <a (click)="login()" [innerHTML]="_app.user ? 'To the App <i class=\'fa fa-chevron-right\'></i>' : 'Log In'"></a>
    </div>
</div>

<landing-hero></landing-hero>

<div (window:resize)="setupSize()" class="landing-holder"></div>

<div class="page">

    <div class="paper center">

        <div class="block">

            <h4><span class="light">improv</span><strong>plus</strong></h4>

            <p>Welcome to ImprovPlus.</p>
                
            <p>ImprovPlus applies Improv to Talent Development. We have distilled our most popular Improv workshops into comprehensive guides for Facilitators and Trainers. We walk you through the activities, the agenda, the questions, and the discussions that will bring out the best in your team.</p>

            <p>ImprovPlus is also a flexible method that can be integrated into your existing training equation. As an ImprovPlus Facilitator, you will have an innovative approach to establish ground rules, set the tone, and lead your trainings with confidence. We introduce you to the ImprovPlus way and we leave you with room and flexibility to conduct your trainings your way.</p>

            <p>These tools can help anyone apply Improv to training. No Improv experience is necessary - all you need is the trainer.</p>

            <p>(Don't have one? You can bring us in to lead an ImprovPlus training, too.)</p>
            
        </div>

        <div class="block">
            <h4>how <iplus class="huge"></iplus> works</h4>

            <div class="columns how-it-works">
                <div>
                    <img src="/images/how-it-works-1.png" />
                    <p>1. Sign up for ImprovPlus</p>
                </div>
                <div>
                    <img src="/images/how-it-works-2.png" />
                    <p>2. Download the materials and learn the ImprovPlus techniques</p>
                </div>
                <div>
                    <img src="/images/how-it-works-3.png" />
                    <p>3. Use the App to conduct your training.</p>
                </div>
            </div>
        </div>

        <div class="block">

            <h4>are you ready?</h4>

            <div class="columns spaced">
                <a routerLink="/signup" class="button raised large">Join <iplus></iplus></a>
            </div>

        </div>

    </div>

    <div class="hero">

        <div class="content">
            
            <h4>features</h4>

            <p>Your one year subscription to the improvplus app provides access to all of our innovative program materials.</p>

            <div class="card-list span3">

                <div class="card red brackets clickable">
                    <h4>Facilitator's Guides</h4>
                    <p>Suspendisse egestas posuere ex, nec bibendum elit lacinia in. Pellentesque quis eros nunc.</p>
                </div>

                <div class="card red brackets clickable">
                    <h4>Program Agendas</h4>
                    <p>Nunc vitae eleifend felis. Praesent auctor, orci a tristique rhoncus, urna turpis elementum massa, sed faucibus lacus orci fermentum ex.</p>
                </div>

                <div class="card red brackets clickable">
                    <h4>Participant Handouts</h4>
                    <p>Vestibulum at mollis lectus, in eleifend justo. Donec dignissim vestibulum ex vel consequat.</p>
                </div>

            </div>

            <h4><em>plus</em></h4>

            <p>The improvplus app also contains a smorgasbord of additional content and features.</p>

            <div class="card-list span3">

                <div class="card blue brackets clickable">
                    <h4>House Rules</h4>
                    <p>Vestibulum at mollis lectus, in eleifend justo. Donec dignissim vestibulum ex vel consequat.</p>
                </div>

                <div class="card blue brackets clickable">
                    <h4>Facilitation Tips</h4>
                    <p>Suspendisse egestas posuere ex, nec bibendum elit lacinia in. Pellentesque quis eros nunc.</p>
                </div>

                <div class="card blue brackets clickable">
                    <h4>Bonus Materials</h4>
                    <p>Nunc vitae eleifend felis. Praesent auctor, orci a tristique rhoncus, urna turpis elementum massa, sed faucibus lacus orci fermentum ex.</p>
                </div>

                <div class="card blue brackets clickable">
                    <h4>Game Database</h4>
                    <p>Nunc vitae eleifend felis. Praesent auctor, orci a tristique rhoncus, urna turpis elementum massa, sed faucibus lacus orci fermentum ex.</p>
                </div>

                <div class="card blue brackets clickable">
                    <h4>Blog Content</h4>
                    <p>Nunc vitae eleifend felis. Praesent auctor, orci a tristique rhoncus, urna turpis elementum massa, sed faucibus lacus orci fermentum ex.</p>
                </div>

                <div class="card blue brackets clickable">
                    <h4>Access to Updates</h4>
                    <p>Nunc vitae eleifend felis. Praesent auctor, orci a tristique rhoncus, urna turpis elementum massa, sed faucibus lacus orci fermentum ex.</p>
                </div>

                <div class="card blue brackets clickable">
                    <h4>Human Support</h4>
                    <p>Nunc vitae eleifend felis. Praesent auctor, orci a tristique rhoncus, urna turpis elementum massa, sed faucibus lacus orci fermentum ex.</p>
                </div>

                <div class="card blue brackets clickable">
                    <h4>Hands-on Coaching</h4>
                    <p>Nunc vitae eleifend felis. Praesent auctor, orci a tristique rhoncus, urna turpis elementum massa, sed faucibus lacus orci fermentum ex.</p>
                </div>

            </div>

            <div class="columns spaced block">

                <div>
                    <h4>1 Year</h4>
                    <h5>Subscription</h5>
                </div>

                <div>
                    <h4>24/7</h4>
                    <h5>Access</h5>
                </div>

                <div>
                    <h4>$1500</h4>
                    <h5>Price</h5>
                </div>

            </div>

            <div class="columns spaced">
                <a routerLink="/signup" class="button raised large">Join <iplus></iplus></a>
            </div>

        </div>    

    </div>

    <div class="paper center">

        <div class="block">
            <h4>hire us</h4>

            <p>Etiam dictum tellus fermentum tellus condimentum, non venenatis risus sodales. Aliquam egestas non dolor vitae blandit. Etiam nulla elit, blandit ac gravida sed, malesuada et nibh. Suspendisse aliquam consequat libero vitae sollicitudin. In a sagittis massa. Donec facilisis sapien ac leo auctor, vel fringilla metus posuere. Etiam suscipit felis a gravida tincidunt. Etiam sit amet interdum felis. Nunc vel laoreet leo. </p>
        </div>

        <div class="block card-list">
            <div class="card brackets flat">
                <h4>Innovation</h4>
                <p>There are no wrong answers. Practice following ideas to see where they lead you.</p>
            </div>
            <div class="card brackets flat">
                <h4>Confidence</h4>
                <p>Face your fears. Confidence comes from being comfortable when out on a limb.</p>
            </div>
            <div class="card brackets flat">
                <h4>Agility</h4>
                <p>Improv develops the mindset of adapting to change, saying yes to knew ideas, and letting go of your assumptions.</p>
            </div>
            <div class="card brackets flat">
                <h4>Team Building</h4>
                <p>Communication skills are sharpened by listening and reacting in the moment. The shared experience brings teams together.</p>
            </div>
        </div>

        <div class="block">

            <p>Business around the world are discovering the power of Improv to make them more awesome. <br /> Absolutely everyone can do it. Absolutely everyone will benefit from it.</p>

            <a (click)="showContactDialog()" class="button">Contact Us</a>

        </div>

    </div>

    <div class="paper center">

        <div class="block">
            <h4>calling improvisers</h4>

            <p>If you do Improv, we want to hear from you. Sign up for our improv mailing list, and you will get a chance to be the first to join the ever growing improvplus community.</p>
        </div>

        <div class="block">
            <a routerLink="/signup" class="button">Sign up as an improviser</a>
        </div>

    </div>

</div>

<div class="dialog-container" [class.show]="contactDialogVisible">
    <div class="dialog-dismiss" (click)="hideContactDialog()"></div>

    <div class="dialog" [@dialog] *ngIf="contactDialogVisible && !sent && !sending">

        <form name="contact" (ngSubmit)="submitContact()" #contactForm="ngForm">
            <div class="dialog-content">
                <h2>contact <span class="light">improv</span><strong>plus</strong></h2>

                <div class="section">
                    <div class="columns">
                        <input name="firstName" [(ngModel)]="contact.firstName" required type="text" placeholder="First Name *" />
                        <input name="lastName" [(ngModel)]="contact.lastName" required type="text" placeholder="Last Name *" />
                    </div>

                    <input name="email" [(ngModel)]="contact.email" required type="text" placeholder="Email Address *" />

                    <input name="company" [(ngModel)]="contact.company" type="text" placeholder="Company" />

                    <label>Describe your Team
                        <textarea name="team" [(ngModel)]="contact.team" rows="4"></textarea>
                    </label>

                    <label>What do you hope to accomplish?
                        <textarea name="objective" [(ngModel)]="contact.objective" rows="4"></textarea>
                    </label>

                    <div class="error" *ngIf="contactError" [innerHTML]="contactError"></div>
                </div>
            </div>

            <div class="button-group" *ngIf="!sending">
                <div class="button" (click)="hideContactDialog()">Cancel</div>
                <input type="submit" class="button raised" value="SUBMIT" [disabled]="!contactForm.form.valid" />
            </div>

            <div class="button-group" *ngIf="sending">
                <div class="button"><i class="loading"></i></div>
            </div>
        </form>

    </div>

    <div class="dialog" [@dialog] *ngIf="sent">

        <div class="dialog-content center">
            <h2>thank you</h2>

            <p>Our expert team will reach out to you shortly.</p>
        </div>

        <div class="button-group">
            <div class="button" (click)="hideContactDialog()">Done</div>
        </div>

    </div>
</div>